<a class="btn btn-{{{header}}}" href="{{{post.blogUrl}}}">
    <div class="panel-heading panel-title text-center">
        <h3>{{post.title}}</h3>
        Posted {{timestampToDate post.published}}
    </div>
</a>
{{partial "blog/posts/blogNav"}}
<div class="body">
    {{{post.content}}}
</div>
