<a class="btn btn-{{{header}}}" href="{{{post.blogUrl}}}">
    <div class="panel-heading panel-title text-center">
        {{#if post.title}}
            <h3>{{post.title}}</h3>
        {{/if}}
        Posted {{timestampToDate post.timestamp}}
    </div>
</a>
<div class="body">
    {{{post.body}}}
</div>
