<a class="btn btn-{{{header}}}" href="{{{post.blogUrl}}}">
    <div class="panel-heading panel-title text-center">
        <h3>{{post.track_name}}</h3>
        Posted {{timestampToDate post.timestamp}}
    </div>
</a>
{{partial "blog/posts/blogNav"}}
<div class="body">
    {{{post.embed}}}
    <button class="btn btn-primary add-to-media-player" data-source="soundcloud" data-url="{{post.audio_url}}"><span class="glyphicon glyphicon-music"></span> Add To Playlist</button><br /><br />
    {{{post.caption}}}
</div>
