<a class="btn btn-{{{header}}}" href="{{{post.blogUrl}}}">
    <div class="panel-heading panel-title text-center">
        Posted {{timestampToDate post.timestamp}}
    </div>
</a>
<div class="body">
    <h3 class="link"><a href="{{{post.url}}}">{{post.title}}</a></h3>
    {{{post.description}}}
</div>
