<a class="btn btn-{{{header}}}" href="{{{post.blogUrl}}}">
    <div class="panel-heading panel-title text-center">
        Posted {{timestampToDate post.timestamp}}
    </div>
</a>
{{partial "blog/posts/blogNav"}}
<div class="body">
    <blockquote>{{{post.text}}}</blockquote>
    {{{post.source}}}
</div>
