<a class="btn btn-{{{header}}}" href="{{{post.blogUrl}}}">
    <div class="panel-heading panel-title text-center">
        <h3>{{post.track_name}}</h3>
        Posted {{timestampToDate post.timestamp}}
    </div>
</a>
{{partial "blog/posts/blogNav"}}
<div class="body">
    {{{post.embed}}}
    {{{post.caption}}}
</div>
