<a class="btn btn-{{{header}}}" href="{{{post.blogUrl}}}">
    <div class="panel-heading panel-title text-center">
        Posted {{timestampToDate post.timestamp}}
    </div>
</a>
{{partial "blog/posts/blogNav"}}
<div class="body youtube">
    {{#each post.player}}
        {{#if @last}}
            {{{embed_code}}}
        {{/if}}
    {{/each}}
    <button class="btn btn-primary add-to-media-player" data-source="youtube" data-url="{{post.permalink_url}}"><span class="glyphicon glyphicon-music"></span> Add To Playlist</button><br /><br />
    {{{post.caption}}}
</div>
