<div class="col-xs-8">
    {{{page.attributes.page.content}}}
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h3>Current Projects</h3></div>
    </div>
    <div class="row">
        {{#each projects.models}}
            <div class="col-sm-4" style="margin-bottom: 20px;">
                <a class="btn btn-default" href="{{attributes.url}}" style="white-space: normal; width: 100%;">
                    <div class="text-center text-success"><h4>{{attributes.title}}</h4></div>
                    <div class="text-left" style="color: #000000;">{{attributes.description}}</div>
                </a>
            </div>
            {{#every 3 @index @last}}
                <div class="clearfix hidden-xs"></div>
            {{/every}}
        {{/each}}
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h3>Commits and Releases</h3></div>
        <div class="panel-body">
            {{#each codingEvents.models}}
                <div class="div-table" style="margin-bottom: 5px;">
                    <div>
                        <div>
                            <div style="display: table; table-layout: fixed; width: 100%;">
                                <span style="display: table-cell;">
                                    {{#ifCond attributes.type "===" "push"}}
                                        {{showText attributes.message}}
                                        {{#ifCond attributes.size ">" 1}}
                                            <br /> ({{attributes.size}} total commits)
                                        {{/ifCond}}
                                    {{/ifCond}}
                                    {{#ifCond attributes.type "===" "release"}}
                                        Released {{attributes.release}}
                                    {{/ifCond}}
                                </span>
                            </div>
                        </div>
                        <div class="hidden-xs" style="padding-left: 5px; width: 1px; white-space: nowrap;">
                            {{{toTimeAgo attributes.published}}}
                            {{#if attributes.url}}
                                <a href="{{attributes.url}}">{{attributes.repository}}</a>
                            {{else}}
                                <a href="https://github.com/{{attributes.repository}}" target="_blank">{{attributes.repository}}</a>
                            {{/if}}
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
<div class="col-sm-2 hidden-xs right-side">
    <div class="panel panel-primary">
        <div class="panel-heading panel-heading-small text-center">Coding</div>
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Coding</li>
        </ol>
        <div class="panel-body">
            This page is dedicated to showcasing the many projects that I have created and contributed to.
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading panel-heading-small text-center">RSS Feed</div>
        <div class="panel-body">
            <div class="rss-text text-center">Subscribe to my code commits and project releases:</div>
            <div class="text-center">
                <a href="http://www.roncli.com/coding.rss" title="Subscribe via RSS" target="_blank" class="rss-link"><div class="bookmark bookmark-rss"></div></a>
            </div>
        </div>
    </div>
    {{partial "site/share"}}
    {{#if page.attributes.children}}
        <div class="btn-group-vertical btn-group-xs panel panel-primary">
            <div class="panel-heading panel-heading-small text-center">{{#if page.attributes.page.shortTitle}}{{page.attributes.page.shortTitle}}{{else}}{{page.attributes.page.title}}{{/if}}</div>
            <div class="children-pages">
                <div class="scroller-wrapper" id="children-pages-wrapper">
                    <div class="scroller">
                        <div class="children btn-group-vertical btn-group-xs">
                            {{#each page.attributes.children}}
                                <a class="btn btn-default" href="{{{url}}}">{{shortTitle}}</a>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
</div>
