<div class="col-xs-8">
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h3>{{project.attributes.title}}</h3></div>
        <div class="panel-body">
            {{#if project.attributes.project}}
                <div class="row">
                    <div class="col-sm-6">
            {{/if}}
                        {{#if project.attributes.projectUrl}}
                            Project Homepage: <a href="{{project.attributes.projectUrl}}" target="_blank">{{project.attributes.projectUrl}}</a><br />
                        {{else}}
                            {{#if project.attributes.user}}
                                {{#if project.attributes.repository}}
                                    Project Homepage: <a href="https://github.com/{{project.attributes.user}}/{{project.attributes.repository}}">https://github.com/{{project.attributes.user}}/{{project.attributes.repository}}</a><br /><br />
                                {{/if}}
                            {{/if}}
                        {{/if}}
                        {{#if project.attributes.project}}
                            Primary language: {{project.attributes.project.language}}
                        {{/if}}
            {{#if project.attributes.project}}
                    </div>
                    <div class="col-sm-6">
                        Created: {{timestampToDate project.attributes.project.created "M/d/YYYY h:mm:ss a"}} ({{{toTimeAgo project.attributes.project.created}}})<br />
                        Updated: {{timestampToDate project.attributes.project.updated "M/d/YYYY h:mm:ss a"}} ({{{toTimeAgo project.attributes.project.updated}}})
                    </div>
                </div>
            {{/if}}<br/>
            {{#if project.attributes.project}}
                {{project.attributes.project.description}}
            {{else}}
                {{project.attributes.description}}
            {{/if}}
        </div>
    </div>
    {{{page.attributes.page.content}}}
    {{#if project.attributes.releases}}
        <div class="panel panel-primary">
            <div class="panel-heading text-center"><h3>Releases</h3></div>
            <div class="panel-body">
                {{#each project.attributes.releases}}
                    <div class="div-table" style="margin-bottom: 10px;">
                        <div>
                            <div>
                                <div style="display: table; table-layout: fixed; width: 100%;">
                                    <span style="display: table-cell;">
                                        <h4><a href="{{url}}" target="_blank">{{name}}</a></h4> {{showText body}}
                                    </span>
                                </div>
                            </div>
                            <div class="hidden-xs" style="padding-left: 5px; width: 1px; white-space: nowrap;">
                                {{{toTimeAgo created}}}
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    {{/if}}
    {{#if project.attributes.commits}}
        <div class="panel panel-primary">
            <div class="panel-heading text-center"><h3>Recent Commits</h3></div>
            <div class="panel-body">
                {{#each project.attributes.commits}}
                    <div class="div-table" style="margin-bottom: 5px;">
                        <div>
                            <div>
                                <div style="display: table; table-layout: fixed; width: 100%;">
                                    <span style="display: table-cell;">
                                        <a href="{{url}}" target="_blank">{{shortSha}}</a> {{showText message}}
                                    </span>
                                </div>
                            </div>
                            <div class="hidden-xs" style="padding-left: 5px; width: 1px; white-space: nowrap;">
                                {{{toTimeAgo created}}}
                                {{author}}
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    {{/if}}
</div>
<div class="col-sm-2 hidden-xs right-side">
    <div class="panel panel-primary">
        <div class="panel-heading panel-heading-small text-center">Coding</div>
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            {{#if page.attributes.parents}}
                {{#each page.attributes.parents}}
                    {{#if @last}}
                        <li class="active">{{shortTitle}}</li>
                    {{else}}
                        <li><a href="{{{url}}}">{{shortTitle}}</a></li>
                    {{/if}}
                {{/each}}
            {{else}}
                <li><a href="/coding">Coding</a></li>
                <li class="active">{{project.attributes.title}}</li>
            {{/if}}
        </ol>
        <div class="panel-body">
            This page is dedicated to showcasing the many projects that I have created and contributed to.
        </div>
    </div>
    {{#if project.attributes.user}}
        {{#if project.attributes.repository}}
            <div class="panel panel-primary">
                <div class="panel-heading panel-heading-small text-center">RSS Feed</div>
                <div class="panel-body">
                    <div class="rss-text text-center">Subscribe to this project's GitHub commits:</div>
                    <div class="text-center">
                        <a href="https://github.com/{{project.attributes.user}}/{{project.attributes.repository}}/commits/master.atom" title="Subscribe via RSS" target="_blank" class="rss-link"><div class="bookmark bookmark-rss"></div></a>
                    </div>
                </div>
            </div>
        {{/if}}
    {{/if}}
    {{partial "site/share"}}
    {{#if page.attributes.siblings}}
        <div class="btn-group-vertical btn-group-xs panel panel-primary">
            <div class="panel-heading panel-heading-small text-center">{{page.attributes.parentTitle}}</div>
            <div class="sibling-pages">
                <div class="scroller-wrapper" id="sibling-pages-wrapper">
                    <div class="scroller">
                        <div class="siblings btn-group-vertical btn-group-xs">
                            {{#each page.attributes.siblings}}
                                {{#ifCond id "===" @root.page.attributes.page.id}}
                                    <a class="btn btn-warning selected" href="{{{url}}}">{{shortTitle}}</a>
                                {{/ifCond}}
                                {{#ifCond id "!==" @root.page.attributes.page.id}}
                                    <a class="btn btn-default" href="{{{url}}}">{{shortTitle}}</a>
                                {{/ifCond}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
    {{#if page.attributes.children}}
        <div class="btn-group-vertical btn-group-xs panel panel-primary">
            <div class="panel-heading panel-heading-small text-center">{{#if page.attributes.page.shortTitle}}{{page.attributes.page.shortTitle}}{{else}}{{page.attributes.page.title}}{{/if}}</div>
            <div class="children-pages">
                <div class="scroller-wrapper" id="children-pages-wrapper">
                    <div class="scroller">
                        <div class="children btn-group-vertical btn-group-xs">
                            {{#each page.attributes.children}}
                                <a class="btn btn-default" href="{{{url}}}">{{shortTitle}}</a>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
</div>
