<div class="col-xs-8 blog constrain-height">
    {{#unless blogMissing}}
        <div class="btn-group-vertical">
            <a class="btn btn-info" href="/blog">
                <div class="panel-heading panel-title text-center"><h1>Latest Blog Post</h1></div>
            </a>
            {{partial "blog/post" post=blog.models.0.attributes.post header="default"}}
        </div>
    {{/unless}}
    <div class="row">
        <div class="col-sm-6">
            <div class="btn-group-vertical home-panel">
                <a class="btn btn-info" href="/music">
                    <div class="panel-heading panel-title text-center"><h3>Music</h3></div>
                </a>
                <div class="body">
                    <div class="text-center"><h4>Latest</h4></div>
                    <div class="div-table">
                        {{#each songs.models}}
                            <div>
                                <div style="padding-bottom: 2px;">
                                    <a href="{{attributes.url}}">{{attributes.title}}</a>
                                </div>
                                <div style="padding: 0 0 2px 5px; width: 1px;">
                                <button class="btn btn-xs btn-primary add-to-media-player" style="font-size: 12px; white-space: nowrap;" data-source="soundcloud" data-url="{{attributes.audioUrl}}"><span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-music"></span></button>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                    <br />
                    <div class="text-center"><a href="/music/tag/Classic"><h4>Classics</h4></a></div>
                    <div class="div-table">
                        {{#each classics.models}}
                            <div>
                                <div style="padding-bottom: 2px;">
                                    <a href="{{attributes.url}}">{{attributes.title}}</a>
                                </div>
                                <div style="padding: 0 0 2px 5px; width: 1px;">
                                    <button class="btn btn-xs btn-primary add-to-media-player" style="font-size: 12px; white-space: nowrap;" data-source="soundcloud" data-url="{{attributes.audioUrl}}"><span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-music"></span></button>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="btn-group-vertical home-panel">
                <a class="btn btn-info" href="/coding">
                    <div class="panel-heading panel-title text-center"><h3>Coding</h3></div>
                </a>
                <div class="body">
                    <div class="text-center">
                        <h4>Featured Projects</h4>
                        {{#each projects.models}}
                            <a href="{{attributes.url}}">{{attributes.title}}</a><br />
                        {{/each}}
                    </div><br />
                    <div class="text-center"><h4>Recent GitHub Activity</h4></div>
                    {{#each codingEvents.models}}
                        <div class="div-table" style="margin-bottom: 2px;">
                            <div>
                                <div>
                                    <div style="display: table; table-layout: fixed; width: 100%;">
                                        <span style="display: table-cell; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height: 1.1;">
                                            {{#ifCond attributes.type "===" "push"}}
                                                {{attributes.message}}
                                            {{/ifCond}}
                                            {{#ifCond attributes.type "===" "release"}}
                                                Released {{attributes.release}}
                                            {{/ifCond}}
                                        </span>
                                    </div>
                                </div>
                                <div style="padding-left: 5px; width: 1px; white-space: nowrap;">
                                    {{#if attributes.url}}
                                        <a href="{{attributes.url}}">{{attributes.repository}}</a>
                                    {{else}}
                                        <a href="https://github.com/{{attributes.repository}}" target="_blank">{{attributes.repository}}</a>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="btn-group-vertical home-panel">
                <a class="btn btn-info" href="/gaming">
                    <div class="panel-heading panel-title text-center"><h3>Gaming</h3></div>
                </a>
                <div class="body">
                    <div>
                        <div class="div-table" style="margin-bottom: 5px;">
                            <div>
                                <div class="hidden-sm" style="vertical-align: top; width: 55px;">
                                    {{#if wowMissing}}
                                        <div style="width: 50px; height: 50px; background-image: url('/images/wow.png'); background-size: 50px 50px; display: inline-block;"></div>
                                    {{else}}
                                        <div style="width: 50px; height: 50px; background-image: url('{{wow.models.0.attributes.character.thumbnail}}'); background-size: 50px 50px; display: inline-block;"></div>
                                    {{/if}}
                                </div>
                                <div style="vertical-align: top;">
                                    <div class="text-center"><h4>World of Warcraft</h4></div>
                                    {{#if wowMissing}}
                                        World of Warcraft data is currently unavailable from Battle.Net.
                                    {{else}}
                                        <div>{{wow.models.0.attributes.character.achievementPoints}} achievement points</div>

                                        {{#ifCond wow.models.0.attributes.feedItem.type "===" "BOSSKILL"}}
                                            Defeated <b>{{wow.models.0.attributes.feedItem.boss}}</b><br/>
                                        {{/ifCond}}
                                        {{#ifCond wow.models.0.attributes.feedItem.type "===" "LOOT"}}
                                            <div class="div-table">
                                                <div>
                                                    <div style="vertical-align: top; padding-right: 5px;">
                                                        <div style="width: 20px; height: 20px; background-size: 20px 20px; background-image: url('https://render-us.worldofwarcraft.com/icons/56/{{wow.models.0.attributes.feedItem.icon}}.jpg');"></div>
                                                    </div>
                                                    <div style="vertical-align: top;">
                                                        Looted <b>{{wow.models.0.attributes.feedItem.item}}</b>
                                                    </div>
                                                </div>
                                            </div>
                                        {{/ifCond}}
                                        {{#ifCond wow.models.0.attributes.feedItem.type "===" "ACHIEVEMENT"}}
                                            <div class="div-table">
                                                <div>
                                                    <div style="vertical-align: top; padding-right: 5px;">
                                                        <div style="width: 20px; height: 20px; background-size: 20px 20px; background-image: url('https://render-us.worldofwarcraft.com/icons/56/{{wow.models.0.attributes.feedItem.icon}}.jpg');"></div>
                                                    </div>
                                                    <div style="vertical-align: top;">
                                                        Earned <b>{{wow.models.0.attributes.feedItem.achievement}}</b>
                                                    </div>
                                                </div>
                                            </div>
                                        {{/ifCond}}
                                        {{{toTimeAgo wow.models.0.attributes.feedItem.timestamp}}}
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="div-table" style="margin-bottom: 5px;">
                            <div>
                                <div class="hidden-sm" style="vertical-align: top; width: 55px;">
                                    <div style="width: 50px; height: 50px; background-image: url('/images/d3.png'); background-size: 50px 50px; display: inline-block;"></div>
                                </div>
                                <div style="vertical-align: top;">
                                    <div class="text-center"><h4>Diablo III</h4></div>
                                    {{#if d3Missing}}
                                        Diablo III data is currently unavailable from Battle.Net.
                                    {{else}}
                                        {{#if d3.models.0.attributes.seasonal}}Seasonal {{/if}}
                                        {{#if d3.models.0.attributes.hardcore}}Hardcore {{/if}}
                                        {{d3.models.0.attributes.class}} <b>{{d3.models.0.attributes.name}}</b><br/>
                                        Paragon {{d3.models.0.attributes.paragonLevel}} - {{d3.models.0.attributes.damage}} Damage<br/>
                                        {{d3.models.0.attributes.eliteKills}} elite kills<br/>
                                        {{{toTimeAgo d3.models.0.attributes.lastUpdated}}}
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="div-table" style="margin-bottom: 5px;">
                            <div>
                                <div class="hidden-sm" style="vertical-align: top; width: 55px;">
                                    <div style="width: 50px; height: 50px; background-image: url('/images/descentLogo.png'); background-size: 50px 50px; display: inline-block;"></div>
                                </div>
                                <div style="vertical-align: top;">
                                    <div class="text-center"><h4>Descent Champions Ladder</h4></div>
                                    {{#if dclMissing}}
                                        Descent Champions Ladder data is currently unavailable.
                                    {{else}}
                                        <span class="dcl-{{dcl.models.0.attributes.rating}}">{{titleCase dcl.models.0.attributes.rating}} #{{dcl.models.0.attributes.rank}}</span><br/>
                                        <span class="dcl-diamond" style="white-space: nowrap;">Diamond: {{dcl.models.0.attributes.records.diamond.wins}}-{{dcl.models.0.attributes.records.diamond.losses}}</span> <span class="dcl-gold" style="white-space: nowrap;">Gold: {{dcl.models.0.attributes.records.gold.wins}}-{{dcl.models.0.attributes.records.gold.losses}}</span> <span class="dcl-silver" style="white-space: nowrap;">Silver: {{dcl.models.0.attributes.records.silver.wins}}-{{dcl.models.0.attributes.records.silver.losses}}</span> <span class="dcl-bronze" style="white-space: nowrap;">Bronze: {{dcl.models.0.attributes.records.bronze.wins}}-{{dcl.models.0.attributes.records.bronze.losses}}</span> <span class="dcl-unrated" style="white-space: nowrap;">Unrated: {{dcl.models.0.attributes.records.unrated.wins}}-{{dcl.models.0.attributes.records.unrated.losses}}</span><br/>
                                        Last game:
                                        {{#ifCond dcl.models.0.attributes.match.pilot.score ">" dcl.models.0.attributes.match.opponent.score}}
                                            <span class="text-success">roncli <b>{{dcl.models.0.attributes.match.pilot.score}}</b> - {{dcl.models.0.attributes.match.opponent.name}} <b>{{dcl.models.0.attributes.match.opponent.score}}</b></span>
                                        {{else}}
                                            <span class="text-danger">{{dcl.models.0.attributes.match.opponent.name}} <b>{{dcl.models.0.attributes.match.opponent.score}}</b>, roncli <b>{{dcl.models.0.attributes.match.pilot.score}}</b></span>
                                        {{/ifCond}}
                                        {{dcl.models.0.attributes.match.game}} {{dcl.models.0.attributes.match.map}}<br/>
                                        {{{toTimeAgo dcl.models.0.attributes.match.date}}}
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="btn-group-vertical home-panel">
                <a class="btn btn-info" href="/coding">
                    <div class="panel-heading panel-title text-center"><h3>Life</h3></div>
                </a>
                <div class="body">
                    <div class="text-center">
                        <h4>Featured Articles</h4>
                        {{#each life.models}}
                            <a href="{{attributes.url}}">{{attributes.title}}</a><br />
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-2 hidden-xs right-side">
    <div class="panel panel-primary">
        <div class="panel-heading panel-heading-small text-center">Welcome</div>
        <div class="panel-body">
            <img src="/images/roncliSmall.png" class="icon" />Hello! You've found the homepage of me, Ronald M. Clifford, also known as <b>roncli</b> or <b>The Nightstalker</b>.<br /><br />
            Here, you can check out my music, browse my coding projects, follow along with what games I'm playing, and check out everything else that makes life worth living.
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading panel-heading-small text-center">RSS Feeds</div>
        <div class="panel-body">
            <div class="rss-text text-center">Subscribe to these RSS feeds for the latest on each topic.<br/><br/></div>
            <div class="row">
                <div class="col-xs-6 text-center">
                    <b>Blog</b><br/><a href="https://roncli.com/blog.rss" title="Subscribe via RSS" target="_blank" class="rss-link"><div class="bookmark bookmark-rss"></div></a><br /><br />
                    <b>Coding</b><br/><a href="https://roncli.com/coding.rss" title="Subscribe via RSS" target="_blank" class="rss-link"><div class="bookmark bookmark-rss"></div></a>
                </div>
                <div class="col-xs-6 text-center">
                    <b>Music</b><br/><a href="https://roncli.com/music.rss" title="Subscribe via RSS" target="_blank" class="rss-link"><div class="bookmark bookmark-rss"></div></a><br/><br/>
                    <b>Gaming</b><br/><a href="https://roncli.com/gaming.rss" title="Subscribe via RSS" target="_blank" class="rss-link"><div class="bookmark bookmark-rss"></div></a>
                </div>
            </div>
        </div>
    </div>
    {{partial "site/share"}}
</div>

