<div class="col-xs-8 blog constrain-height">
    <div class="btn-group-vertical">
        <a class="btn btn-info" href="/blog">
            <div class="panel-heading panel-title text-center"><h1>Latest Blog Post</h1></div>
        </a>
        {{partial "blog/post" post=blog.attributes.post header="default"}}
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="btn-group-vertical home-panel">
                <a class="btn btn-info" href="/music">
                    <div class="panel-heading panel-title text-center"><h3>Music</h3></div>
                </a>
                <div class="body">
                    <div class="text-center"><h4>Latest</h4></div>
                    <div class="div-table">
                        {{#each songs.models}}
                            <div>
                                <div style="padding-bottom: 2px;">
                                    <a href="{{attributes.url}}">{{attributes.title}}</a>
                                </div>
                                <div style="padding: 0 0 2px 5px; width: 1px;">
                                <button class="btn btn-xs btn-primary add-to-media-player" style="font-size: 12px; white-space: nowrap;" data-source="soundcloud" data-url="{{attributes.audioUrl}}"><span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-music"></span></button>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                    <br />
                    <div class="text-center"><a href="/music/tag/Classic"><h4>Classics</h4></a></div>
                    <div class="div-table">
                        {{#each classics.models}}
                            <div>
                                <div style="padding-bottom: 2px;">
                                    <a href="{{attributes.url}}">{{attributes.title}}</a>
                                </div>
                                <div style="padding: 0 0 2px 5px; width: 1px;">
                                    <button class="btn btn-xs btn-primary add-to-media-player" style="font-size: 12px; white-space: nowrap;" data-source="soundcloud" data-url="{{attributes.audioUrl}}"><span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-music"></span></button>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="btn-group-vertical home-panel">
                <a class="btn btn-info" href="/coding">
                    <div class="panel-heading panel-title text-center"><h3>Coding</h3></div>
                </a>
                <div class="body">
                    <div class="text-center"><h4>Featured Projects</h4></div>
                    {{#each projects.models}}
                        <a href="{{attributes.url}}">{{attributes.title}}</a><br />
                    {{/each}}
                    <br />
                    <div class="text-center"><h4>Recent GitHub Activity</h4></div>
                    {{#each codingEvents.models}}
                        <div class="div-table" style="margin-bottom: 2px;">
                            <div>
                                <div>
                                    <div style="display: table; table-layout: fixed; width: 100%;">
                                        <span style="display: table-cell; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height: 1.1;">
                                            {{#ifCond attributes.type "===" "push"}}
                                                {{attributes.message}}
                                            {{/ifCond}}
                                            {{#ifCond attributes.type "===" "release"}}
                                                Released {{attributes.release}}
                                            {{/ifCond}}
                                        </span>
                                    </div>
                                </div>
                                <div style="padding-left: 5px; width: 1px; white-space: nowrap;">
                                    <a href="/github/{{attributes.repository}}">{{attributes.repository}}</a>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-2 hidden-xs right-side">
    <div class="panel panel-primary">
        <div class="panel-heading panel-heading-small text-center">Welcome</div>
        <div class="panel-body">
            <img src="/images/roncliSmall.png" class="icon" />Hello! You've found the homepage of me, Ronald M. Clifford, also known as <b>roncli</b> or <b>The Nightstalker</b>.<br /><br />
            Here, you can check out my music, browse my coding projects, follow along with what games I'm playing, and check out everything else that makes life worth living.
        </div>
    </div>
    {{partial "site/share"}}
</div>

