<div class="col-xs-8 blog constrain-height">
    <div class="btn-group-vertical">
        <a class="btn btn-info" href="/blog">
            <div class="panel-heading panel-title text-center"><h1>Latest Blog Post</h1></div>
        </a>
        {{partial "blog/post" post=blog.attributes.post header="default"}}
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="btn-group-vertical home-panel">
                <a class="btn btn-info" href="/music">
                    <div class="panel-heading panel-title text-center"><h3>Music</h3></div>
                </a>
                <div class="body">
                    <div class="text-center" style="border-bottom: 5px;"><h4>Latest</h4></div>
                    {{#each songs.models}}
                        <div style="height: 22px;">
                            <div class="pull-right">
                                <button class="btn btn-xs btn-primary add-to-media-player" style="font-size: 12px;" data-source="soundcloud" data-url="{{attributes.audioUrl}}"><span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-music"></span></button>
                            </div>
                            <a href="{{attributes.url}}">{{attributes.title}}</a>
                        </div>
                    {{/each}}
                    <br />
                    <div class="text-center" style="border-bottom: 5px;"><a href="/music/tag/Classic"><h4>Classics</h4></a></div>
                    {{#each classics.models}}
                        <div style="height: 22px;">
                            <div class="pull-right">
                                <button class="btn btn-xs btn-primary add-to-media-player" style="font-size: 12px;" data-source="soundcloud" data-url="{{attributes.audioUrl}}"><span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-music"></span></button>
                            </div>
                            <a href="{{attributes.url}}">{{attributes.title}}</a>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-2 hidden-xs right-side">
    <div class="panel panel-primary">
        <div class="panel-heading panel-heading-small text-center">Welcome</div>
        <div class="panel-body">
            <img src="/images/roncliSmall.png" class="icon" />Hello! You've found the homepage of me, Ronald M. Clifford, also known as <b>roncli</b> or <b>The Nightstalker</b>.<br /><br />
            Here, you can check out my music, browse my coding projects, follow along with what games I'm playing, and check out everything else that makes life worth living.
        </div>
    </div>
    {{partial "site/share"}}
</div>

