<div data-comment-id="{{{attributes.id}}}" class="comment-post panel-body">
    <div class="row">
        <div class="comment-header col-xs-12">
            <div class="comment-author text-success">{{attributes.author}}</div>
            <div class="comment-date text-muted">Posted {{timestampToDate attributes.published}}</div>
        </div>
    </div>
    <div class="comment-body">
        {{{sanitize attributes.content}}}
    </div>
    <div class="comment-actions row">
        <div class="col-xs-12">
            <div class="pull-right">
                <a href="/playlist/{{{attributes.playlistId}}}/playlist" class="btn btn-primary playlist-link"><span class="glyphicon glyphicon-globe"></span> /playlist/{{attributes.playlistId}}/playlist</a>
                <button class="btn btn-success approve-comment" style="margin-left: 20px; margin-right: 20px;"><span class="glyphicon glyphicon-ok"></span> Approve</button>
                <button class="btn btn-danger reject-comment"><span class="glyphicon glyphicon-remove"></span> Reject</button>
            </div>
        </div>
    </div>
</div>
