<div class="col-xs-8">
    <div class="panel panel-primary">
        <div class="panel-heading text-center">
            <h3>{{page.attributes.page.title}}</h3>
        </div>
        <div class="panel-body">
            {{{page.attributes.page.content}}}
        </div>
    </div>
</div>
<div class="col-sm-2 hidden-xs right-side">
    <div class="panel panel-primary">
        <div class="panel-heading panel-heading-small text-center">{{#if page.attributes.page.shortTitle}}{{page.attributes.page.shortTitle}}{{else}}{{page.attributes.page.title}}{{/if}}</div>
    </div>
</div>
