<!doctype html>
<html>
<head>
    <title>roncli.com</title>
    {{#each locals.meta}}
        <meta name="{{@key}}" content="{{this}}"/>
    {{/each}}
    <link rel="stylesheet" href="/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="/css/bootstrap-override.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Archivo+Narrow" />
    <link rel="author" href="http://plus.google.com/+RonaldClifford/posts/" />
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <script src="/mergedAssets.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.0/jquery.timeago.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.2.0/bootbox.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.min.js"></script>
    <script src="/js/jquery-defaultButton-1.2.0.min.js"></script>
    <script src="/js/jquery-getParam.min.js"></script>
</head>
<body>
<div class="site-wrapper">
    <div class="container">
        <div class="jumbotron text-center">
            <div id="logo"></div><br />
            <b>Music. Coding. Gaming. Life.</b>
        </div>
        <div id="site-nav">
            <div class="navbar navbar-default navbar-xs" role="navigation">
                <div class="container-fluid">
                    <div id="navigation">
                        <div class="navbar-right">
                            <ul class="nav navbar-nav">
                                <li class="navbar-text text-muted">Please wait...</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-2">
                <div class="btn-group-vertical btn-group-xs">
                    <div class="btn inactive btn-info">Navigation</div>
                    <a class="btn btn-default" href="/">Home</a>
                    <a class="btn btn-default" href="/blog">Blog</a>
                    <a class="btn btn-default" href="/music">Music</a>
                    <a class="btn btn-default" href="/coding">Coding</a>
                    <a class="btn btn-default" href="/gaming">Gaming</a>
                    <a class="btn btn-default" href="/life">Life</a>
                </div>
                <div class="btn-group-vertical btn-group-xs">
                    <a class="btn btn-info" href="http://twitter.com" target="_blank" title="Twitter">
                        <div class="twitter-logo"></div>
                    </a>
                    <div class="twitter">
                        <div class="wrapper">
                            <div class="scroller">
                                <div class="tweets">
                                    <div class="text-center"><img src="/images/loading.gif" alt="Loading..." /></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-default" href="http://twitter.com/roncli" target="_blank">@roncli</a>
                </div>
                <div class="btn-group-vertical btn-group-xs" style="width: 100%;">
                    <div class="btn inactive btn-info">Contacts</div>
                    <a class="btn btn-default" href="mailto:roncli@roncli.com">Email</a>
                    <a class="btn btn-default" href="http://www.facebook.com/roncli" target="_blank">Facebook</a>
                    <a class="btn btn-default" href="https://plus.google.com/+RonaldClifford" target="_blank">Google+</a>
                    <a class="btn btn-default" href="http://roncli.tumblr.com" target="_blank">Tumblr</a>
                    <a class="btn btn-default" href="http://twitch.tv/roncli" target="_blank">Twitch</a>
                    <a class="btn btn-default" href="http://twitter.com/roncli" target="_blank">Twitter</a>
                    <a class="btn btn-default" href="http://www.youtube.com/user/roncli" target="_blank">YouTube</a>
                </div>
                <div class="divider"></div>
                <div class="btn-group-vertical btn-group-xs" style="width: 100%;">
                    <div class="btn inactive btn-info">Hosted Sites</div>
                    <a class="btn btn-default">Cheevos FTW!</a>
                    <a class="btn btn-default">June 20, 2009</a>
                    <a class="btn btn-default">Outpost Music</a>
                    <a class="btn btn-default">roncli.com Logs</a>
                    <a class="btn btn-default" href="http://www.six-minutes.com" target="_blank">Six Minutes To Release</a>
                    <a class="btn btn-default">The Nightstalker's Discography</a>
                    <a class="btn btn-default">Trax in Space Backup</a>
                </div>
            </div>
            <section id="content" class="container">
                {{{body}}}
                <!--div class="col-xs-8">
                    Center content
                </div>
                <div class="col-sm-2 hidden-xs">
                    Right nav
                </div-->
            </section>
        </div>
    </div>
    <div class="site-push"></div>
</div>
<div class="site-footer">
    <div class="panel row">
        <div class="col-sm-4 col-sm-push-4 col-xs-12">
            Content &copy;2002-{{year}} Ronald M. Clifford<br />
            Web Design &copy;2010-{{year}} roncli Productions<br />
        </div>
        <div class="col-sm-4 col-sm-pull-4 hidden-xs">
            Website Version 0.0.1<br />
            <a href="http://chrome.google.com" class="browser" target="_blank"><img src="/images/browsers/chrome.png" alt="Chrome"></a>
            <a href="http://www.firefox.com" class="browser" target="_blank"><img src="/images/browsers/firefox.png" alt="Firefox"></a>
            Best viewed with the latest browsers
            <a href="http://www.apple.com/safari" class="browser" target="_blank"><img src="/images/browsers/safari.png" alt="Safari"></a>
            <a href="http://www.microsoft.com/ie" class="browser" target="_blank"><img src="/images/browsers/ie.png" alt="Internet Explorer"></a>
        </div>
        <div class="col-sm-4 hidden-xs">
            Source code available on Github<br />
            <iframe src="http://ghbtns.com/github-btn.html?user=roncli&repo=roncli.com&type=watch&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="75" height="30"></iframe>
        </div>
    </div>
</div>
<script>
    (function() {
        var App = window.App = new (require('app/app'))({{json appData}});
        App.bootstrapData({{json bootstrappedData}});
        App.start();
    })();
</script>
</body>
</html>
