<!doctype html>
<html>
<head>
    <style>html:not(.wf-active):not(wf-inactive) *{color: transparent !important}</style>
    <title>roncli.com</title>
    <meta charset="utf-8"/>
    {{#each locals.meta}}
        {{{metaTags @key this}}}
    {{/each}}
    <link rel="stylesheet" href="/css/app.min.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
    <link rel="author" href="http://plus.google.com/+RonaldClifford/posts/" />
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <script src="/js/site.min.js"></script>
    <script>window.twttr=function(e,t,n){var r,i,s=e.getElementsByTagName(t)[0];if(e.getElementById(n))return;i=e.createElement(t);i.id=n;i.src="//platform.twitter.com/widgets.js";s.parentNode.insertBefore(i,s);return window.twttr||(r={_e:[],ready:function(e){r._e.push(e)}})}(document,"script","twitter-wjs")</script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.0/jquery.timeago.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.2.0/bootbox.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.min.js"></script>
    <script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
    <script src="//w.soundcloud.com/player/api.js"></script>
</head>
<body>
<div class="site-wrapper">
    <div class="container">
        <div class="jumbotron text-center">
            <div id="logo"></div><br />
            <b>Music. Coding. Gaming. Life.</b>
        </div>
        <div id="site-nav">
            <div class="navbar navbar-default navbar-xs" role="navigation">
                <div class="container-fluid">
                    <div id="navigation">
                        <div class="navbar-right">
                            <ul class="nav navbar-nav">
                                <li class="navbar-text text-muted">Please wait...</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-2">
                <div class="btn-group-vertical btn-group-xs panel panel-primary">
                    <div class="panel-heading panel-heading-small text-center">Navigation</div>
                    <a class="btn btn-default" href="/">Home</a>
                    <a class="btn btn-default" href="/blog">Blog</a>
                    <a class="btn btn-default" href="/music">Music</a>
                    <a class="btn btn-default" href="/coding">Coding</a>
                    <a class="btn btn-default" href="/gaming">Gaming</a>
                    <a class="btn btn-default" href="/life">Life</a>
                </div>
                <div class="btn-group-vertical btn-group-xs">
                    <a class="btn btn-info" href="http://twitter.com" target="_blank" title="Twitter">
                        <div class="twitter-logo"></div>
                    </a>
                    <div class="twitter">
                        <div class="scroller-wrapper" id="tweets-wrapper">
                            <div class="scroller">
                                <div class="tweets">
                                    <div class="text-center"><img src="/images/loading.gif" alt="Loading..." /></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-default" href="http://twitter.com/roncli" target="_blank">@roncli</a>
                </div>
                <div class="btn-group-vertical btn-group-xs panel panel-primary">
                    <div class="panel-heading panel-heading-small text-center">Contacts</div>
                    <a class="btn btn-default" href="mailto:roncli@roncli.com">Email</a>
                    <a class="btn btn-default" href="http://www.facebook.com/roncli" target="_blank">Facebook</a>
                    <a class="btn btn-default" href="https://plus.google.com/+RonaldClifford" target="_blank">Google+</a>
                    <a class="btn btn-default" href="http://roncli.tumblr.com" target="_blank">Tumblr</a>
                    <a class="btn btn-default" href="http://twitch.tv/roncli" target="_blank">Twitch</a>
                    <a class="btn btn-default" href="http://twitter.com/roncli" target="_blank">Twitter</a>
                    <a class="btn btn-default" href="http://www.youtube.com/user/roncli" target="_blank">YouTube</a>
                </div>
                <div class="divider"></div>
                <div class="btn-group-vertical btn-group-xs panel panel-primary">
                    <div class="panel-heading panel-heading-small text-center">Hosted Sites</div>
                    <a class="btn btn-default">Cheevos FTW!</a>
                    <a class="btn btn-default">June 20, 2009</a>
                    <a class="btn btn-default">Outpost Music</a>
                    <a class="btn btn-default">roncli.com Logs</a>
                    <a class="btn btn-default" href="http://www.six-minutes.com" target="_blank">Six Minutes To Release</a>
                    <a class="btn btn-default">The Nightstalker's Discography</a>
                    <a class="btn btn-default">Trax in Space Backup</a>
                </div>
            </div>
            <section id="content">
                {{{body}}}
            </section>
        </div>
    </div>
    <div class="site-push"></div>
</div>
<div class="site-footer">
    <div class="panel row">
        <div class="col-sm-4 col-sm-push-4 col-xs-12">
            Content &copy;2002-{{year}} Ronald M. Clifford<br />
            Web Design &copy;2010-{{year}} roncli Productions<br />
        </div>
        <div class="col-sm-4 col-sm-pull-4 hidden-xs">
            Website Version {{version}}<br />
            <a href="http://chrome.google.com" class="browser" target="_blank"><img src="/images/browsers/chrome.png" alt="Chrome"></a>
            <a href="http://www.firefox.com" class="browser" target="_blank"><img src="/images/browsers/firefox.png" alt="Firefox"></a>
            Best viewed with the latest browsers
            <a href="http://www.apple.com/safari" class="browser" target="_blank"><img src="/images/browsers/safari.png" alt="Safari"></a>
            <a href="http://www.microsoft.com/ie" class="browser" target="_blank"><img src="/images/browsers/ie.png" alt="Internet Explorer"></a>
        </div>
        <div class="col-sm-4 hidden-xs">
            Source code available on Github<br />
            <iframe src="http://ghbtns.com/github-btn.html?user=roncli&repo=roncli.com&type=watch&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="75" height="30"></iframe>
        </div>
    </div>
</div>
<div id="media-player-panel" class="panel panel-default">
    <div id="media-player-body" class="panel-heading">
        <div style="display: inline-block; float: left; width: 28px; height: 65px;"></div>
        <div id="media-player-title" class="text-center text-primary">roncli.com Media Player</div>
        <div id="media-player-now-playing" class="text-center text-info"></div>
        <div style="clear: both;"></div>
        <div id="media-player-content">
            <div id="media-player-background"></div>
            <div id="media-player-content-player"></div>
        </div>
        <div id="media-player-buttons" class="text-center">
            <button id="media-player-back" class="btn btn-link"><span class="glyphicon glyphicon-backward"></span></button>
            <button id="media-player-pause" class="btn btn-link"><span class="glyphicon glyphicon-pause"></span></button>
            <button id="media-player-play" class="btn btn-link"><span class="glyphicon glyphicon-play"></span></button>
            <button id="media-player-forward" class="btn btn-link"><span class="glyphicon glyphicon-forward"></span></button>
        </div>
        <div id="media-player-playlist"></div>
    </div>
</div>
<div id="media-player-trigger" class="panel panel-default">
    <div class="panel-heading panel-heading-small">
        <button id="media-player-trigger-button" class="btn btn-link"><span class="glyphicon glyphicon-music"></span><br/><span class="glyphicon glyphicon-menu-hamburger"></span></button>
    </div>
</div>
<script>!function(){var a=window.App=new(require("app/app"))({{jsonEscaped appData}})
a.bootstrapData({{jsonEscaped bootstrappedData}}),a.start()}()</script>
<script>window.App.loadFonts(window, document);</script>
</body>
</html>
