<table border="0" width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            {{alias}},<br/><br/>
            Congratulations, and thank you for successfully registering with roncli.com! Please click the link below to validate your account.
        </td>
    </tr>
    <tr>
        <td height="40">&nbsp;</td>
    </tr>
    <tr>
        <td valign="middle" align="center" style="text-align: center;">
            <div>
                <!--[if mso]>
                <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://roncli.com/?go=validation&u={{userId}}&v={{validationCode}}" style="height: 40px; v-text-anchor: middle; width: 300px;" arcsize="10%" stroke="f" fillcolor="#22225a">
                    <w:anchorlock />
                    <center style="color:#ffffff; font-size: 20px; font-weight: bold;">Validate Your Email</center>
                </v:roundrect>
                <![endif]-->
                <![if !mso]>
                <table cellspacing="0" cellpadding="0" align="center">
                    <tr>
                        <td align="center" width="300" height="40" bgcolor="#22225a" style="-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #ffffff; display: block;">
                            <a href="https://roncli.com/?go=validation&u={{userId}}&v={{validationCode}}" style="color: #ffffff; font-size: 20px; font-weight: bold; text-decoration: none; line-height: 40px; width: 100%; display: inline-block;">
                                Validate Your Email
                            </a>
                        </td>
                    </tr>
                </table>
                <![endif]-->
            </div>
        </td>
    </tr>
</table>
