<div class="col-xs-8">
    <div class="page-content">
        {{{page.attributes.page.content}}}
        <div class="panel panel-primary">
            <div class="panel-heading text-center"><h3>Latest Music</h3></div>
        </div>
        <div class="row">
            {{#each songs.models}}
                <div class="col-sm-6" style="margin-bottom: 20px;">
                    <div class="panel panel-primary">
                        <div class="panel-heading text-center"><h4>{{attributes.title}}</h4></div>
                        <div class="panel-body">
                            <div class="music-soundcloud">
                                {{partial "media/soundcloud" resolvedUrl=attributes.audioUrl autoplay=false visual=false}}
                            </div><br />
                            <div class="text-center">
                                <button class="btn btn-xs btn-primary add-to-media-player" data-source="soundcloud" data-url="{{attributes.audioUrl}}/stream?client_id="><span class="glyphicon glyphicon-music"></span> Add To Playlist</button>
                            </div>
                        </div>
                    </div>
                </div>
                {{#every 2 @index @last}}
                </div>
                <div class="row">
                {{/every}}
            {{/each}}
        </div>
    </div>
</div>
<div class="col-sm-2 hidden-xs right-side">
    <div class="panel panel-primary">
        <div class="panel-heading panel-heading-small text-center">Music</div>
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Music</li>
        </ol>
        <div class="panel-body">
            This is the home of The Nightstalker.  Here, you will find all of the music I have released over the years, listen to stripped down versions of some of my vocal works, as well as get a sneak peak at what I'm working on.
        </div>
    </div>
    {{partial "site/share"}}
    {{#if page.attributes.children}}
        <div class="btn-group-vertical btn-group-xs panel panel-primary">
            <div class="panel-heading panel-heading-small text-center">{{#if page.attributes.page.shortTitle}}{{page.attributes.page.shortTitle}}{{else}}{{page.attributes.page.title}}{{/if}}</div>
            <div class="children-pages">
                <div class="scroller-wrapper" id="children-pages-wrapper">
                    <div class="scroller">
                        <div class="children btn-group-vertical btn-group-xs">
                            {{#each page.attributes.children}}
                                <a class="btn btn-default" href="{{{url}}}">{{shortTitle}}</a>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
</div>
