<div class="col-xs-8 blog">
    <div class="btn-group-vertical">
        {{partial "blog/post" post=blog.attributes.post index=blog.attributes.index source=blog.attributes.source categories=blog.attributes.categories category=blog.attributes.category header="info" nav="true"}}
    </div>
    <div class="btn-group-vertical comments-unloaded">
        <div class="panel-heading text-center btn inactive btn-info">
            <h3>Comments</h3>
        </div>
        {{#ifCond blog.attributes.post.blogSource "===" "tumblr"}}
            {{#ifCond blog.attributes.post.note_count ">" 0}}
                <a class="blog-nav btn btn-success" href="{{{blog.attributes.post.post_url}}}" target="_blank">
                    <div>
                        View {{blog.attributes.post.note_count}} note{{#ifCond blog.attributes.post.note_count "!==" 1}}s{{/ifCond}} on Tumblr
                    </div>
                </a>
            {{/ifCond}}
        {{/ifCond}}
        <div class="panel-body body loader">
            <div class="text-center"><img src="/images/loading.gif" alt="Loading..."/></div>
        </div>
    </div>
</div>
<div class="col-sm-2 hidden-xs right-side">
    <div class="panel">
        <div class="panel-body">
            <div class="title">roncli.com Blog</div>
            This is my blog where I give my thoughts and opinions on various topics and share my creative endeavors with the world.  I run two personal blogs, but combine them here for ease of access.<br /><br />
            <b>Blogger</b> - My oldest blog using the Blogger platform contains posts full of opinions, gaming, and code.<br /><br />
            <b>Tumblr</b> - Tumblr posts are all about my creative side, containing music, videos, writings, and updates on my web creations.<br /><br />
            You can select a category below to view the latest post, or browse thorugh the posts using the navigation found at the top and bottom of each post.
        </div>
    </div>
    {{partial "site/share"}}
    <div class="btn-group-vertical btn-group-xs">
        <div class="btn inactive btn-info">Categories</div>
        <div class="blog-categories">
            <div class="wrapper" id="blog-categories-wrapper">
                <div class="scroller">
                    <div class="categories btn-group-vertical btn-group-xs">
                        {{#each categories.models}}
                            <a class="btn btn-default" href="/blog/category/{{{urlEncode this.attributes.category}}}">{{this.attributes.category}}</a>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
