{{#ifCond post.blogSource "===" "blogger"}}
    {{partial "blog/posts/blogger"}}
{{/ifCond}}
{{#ifCond post.blogSource "===" "tumblr"}}
    {{#ifCond post.type "===" "answer"}}
        {{partial "blog/posts/tumblrAnswer"}}
    {{/ifCond}}
    {{#ifCond post.type "===" "audio"}}
        {{#ifCond post.audio_type "===" "soundcloud"}}
            {{partial "blog/posts/tumblrSoundCloud"}}
        {{/ifCond}}
        {{#ifCond post.audio_type "===" "tumblr"}}
            {{partial "blog/posts/tumblrAudio"}}
        {{/ifCond}}
    {{/ifCond}}
    {{#ifCond post.type "===" "link"}}
        {{partial "blog/posts/tumblrLink"}}
    {{/ifCond}}
    {{#ifCond post.type "===" "photo"}}
        {{partial "blog/posts/tumblrPhoto"}}
    {{/ifCond}}
    {{#ifCond post.type "===" "quote"}}
        {{partial "blog/posts/tumblrQuote"}}
    {{/ifCond}}
    {{#ifCond post.type "===" "text"}}
        {{partial "blog/posts/tumblrText"}}
    {{/ifCond}}
    {{#ifCond post.type "===" "video"}}
        {{#ifCond post.video_type "===" "youtube"}}
            {{partial "blog/posts/tumblrYouTube"}}
        {{/ifCond}}
    {{/ifCond}}
{{/ifCond}}
{{#ifCond nav "===" "true"}}
    <div>
        <div data-blog-nav="all" class="blog-nav blog-nav-bottom btn-group row bg-info">
            {{#if index.previous}}
                <a class="blog-nav btn btn-success col-xs-2 col-sm-4" href="{{{index.previous.url}}}">
                    <div>
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="hidden-xs">&nbsp;Older<br />{{index.previous.title}}</span>
                    </div>
                </a>
            {{else}}
                <div class="col-xs-2 col-sm-4 bg-info"></div>
            {{/if}}
            <div class="col-xs-8 col-sm-4 bg-info">
                <div>roncli.com Blog<br /><b>All Posts</b></div>
            </div>
            {{#if index.next}}
                <a class="blog-nav btn btn-success col-xs-2 col-sm-4" href="{{{index.next.url}}}">
                    <div>
                        <span class="hidden-xs">Newer&nbsp;</span>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="hidden-xs"><br />{{index.next.title}}</span>
                    </div>
                </a>
            {{else}}
                <div class="col-xs-2 col-sm-4 bg-info"></div>
            {{/if}}
        </div>
        <div data-blog-nav="blogsource" class="blog-nav blog-nav-bottom btn-group row bg-info">
            {{#if source.previous}}
                <a class="blog-nav btn btn-success col-xs-2 col-sm-4" href="{{{source.previous.url}}}">
                    <div>
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="hidden-xs">&nbsp;Older<br/>{{source.previous.title}}</span>
                    </div>
                </a>
            {{else}}
                <div class="col-xs-2 col-sm-4 bg-info"></div>
            {{/if}}
            <div class="col-xs-8 col-sm-4 bg-info">
                <div>Source<br/><b>{{#ifCond post.blogSource "===" "blogger"}}Blogger{{/ifCond}}{{#ifCond post.blogSource "===" "tumblr"}}Tumblr{{/ifCond}}</b></div>
            </div>
            {{#if source.next}}
                <a class="blog-nav btn btn-success col-xs-2 col-sm-4" href="{{{source.next.url}}}">
                    <div>
                        <span class="hidden-xs">Newer&nbsp;</span>
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="hidden-xs"><br/>{{source.next.title}}</span>
                    </div>
                </a>
            {{else}}
                <div class="col-xs-2 col-sm-4 bg-info"></div>
            {{/if}}
        </div>
        {{#each categories}}
            <div data-blog-nav="{{category}}" class="blog-nav blog-nav-bottom btn-group row bg-info">
                {{#if previous}}
                    <a class="blog-nav btn btn-success col-xs-2 col-sm-4" href="{{{previous.url}}}">
                        <div>
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="hidden-xs">&nbsp;Older<br/>{{previous.title}}</span>
                        </div>
                    </a>
                {{else}}
                    <div class="col-xs-2 col-sm-4 bg-info"></div>
                {{/if}}
                <div class="col-xs-8 col-sm-4 bg-info">
                    <div>Category<br/><b>{{category}}</b></div>
                </div>
                {{#if next}}
                    <a class="blog-nav btn btn-success col-xs-2 col-sm-4" href="{{{next.url}}}">
                        <div>
                            <span class="hidden-xs">Newer&nbsp;</span>
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="hidden-xs"><br/>{{next.title}}</span>
                        </div>
                    </a>
                {{else}}
                    <div class="col-xs-2 col-sm-4 bg-info"></div>
                {{/if}}
            </div>
        {{/each}}
    </div>
{{/ifCond}}
