<div class="col-xs-8">
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h3>External Resources</h3></div>
        <div class="panel-body text-center">
            Visit these websites to add or update GitHub projects.<br /><br />
            <a href="https://github.com" target="_blank" class="btn btn-lg btn-primary">GitHub</a>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h3>Clear Caches</h3></div>
        <div class="panel-body text-center">
            Use this after adding or updating GitHub projects to force the website to update immediately.<br /><br />
            <button id="clear-caches" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-trash"></span> Clear Caches</button>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h3>Featured Projects</h3></div>
        <div class="panel-body text-center">
            From here, you can add, remove, and sort featured projects in the database.<br/><br/>
            <div id="featured-projects">
                {{#each featured.models}}
                    <div data-id="{{attributes.id}}" class="navbar navbar-default featured-container" style="background-color: #eeeeee; border: solid 1px #cccccc;">
                        <div class="container-fluid">
                            <div class="navbar-left" style="margin-right: 20px;">
                                <ul class="nav navbar-nav">
                                    <li class="navbar-text" style="font-size: 20px; padding: 10px 0; color: #000000;">{{attributes.title}}</li>
                                </ul>
                            </div>
                            <div class="navbar-right" style="margin-right: 0;">
                                <ul class="nav">
                                    <li>
                                        <button class="btn btn-danger navbar-btn unfeature-project"><span class="glyphicon glyphicon-remove"></span> Remove</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
            <div class="form-inline">
                <select class="form-control" id="feature-project-list">
                    <option value="">-- Select a project to feature --</option>
                    {{#each unfeatured.models}}
                        {{partial "site/option" value=attributes.id text=attributes.title}}
                    {{/each}}
                </select>
                <button class="btn btn-primary" id="feature-project"><span class="glyphicon glyphicon-plus"></span> Feature Project</button>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h3>Projects</h3></div>
        <div class="panel-body text-center">
            From here, you can add, edit, and remove projects from the database.<br /><br />
            {{#each projects.models}}
                <div data-id="{{attributes.id}}" class="navbar navbar-default project-container" style="background-color: #eeeeee; border: solid 1px #cccccc;">
                    <div class="container-fluid">
                        <div class="navbar-left" style="margin-right: 20px;">
                            <ul class="nav navbar-nav">
                                <li class="navbar-text" style="font-size: 20px; padding: 10px 0; color: #000000;">{{attributes.title}}</li>
                            </ul>
                        </div>
                        <div class="navbar-right" style="margin-right: 0;">
                            <ul class="nav">
                                <li>
                                    <button class="btn btn-primary link navbar-btn edit-project" style="margin-right: 20px;" data-href="/admin/project{{{attributes.url}}}"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
                                    <button class="btn btn-danger navbar-btn delete-project"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h3>Add Project</h3></div>
        <div class="panel-body">
            <div class="input-group">
                <span class="input-group-addon">URL:</span>
                <input id="project-url" type="text" maxlength="1024" class="form-control" placeholder="/your/url/here"/>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Title:</span>
                <input id="project-title" type="text" maxlength="255" class="form-control" placeholder="Project Title"/>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Project URL:</span>
                <input id="project-project-url" type="text" maxlength="1024" class="form-control" placeholder="http://url.to/project"/>
            </div>
            <div class="input-group">
                <span class="input-group-addon">GitHub URL:</span>
                <input id="project-user" type="text" maxlength="50" class="form-control" placeholder="user"/>
                <input id="project-repository" type="text" maxlength="50" class="form-control" placeholder="repository"/>
            </div>
            <div class="vertical-margin"><textarea style="width: 100%; height: 100px;" id="project-description"></textarea></div>
            <div class="text-center">
                <button type="button" id="project-save" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-2 hidden-xs right-side">
    <div class="panel panel-primary">
        <div class="panel-heading panel-heading-small text-center">Site Administration</div>
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/admin">Admin</a></li>
            <li class="active">Coding</li>
        </ol>
        <div class="panel-body">
            Add or update projects from GitHub.<br/><br/>
            Please keep in mind that you cannot navigate directly to the URL of this page, nor may you bookmark this page. You must access this page via the Admin menu.
        </div>
    </div>
</div>
