<div class="col-xs-8">
    {{#if page.attributes.id}}
        <div class="panel panel-primary">
            <div class="panel-heading text-center"><h3>Child Pages</h3></div>
            <div class="panel-body">
                <div id="page-list">
                    {{#each page.attributes.pages}}
                        {{partial "admin/pages/page" page=this}}
                    {{/each}}
                </div>
                <div class="form-inline">
                    <select class="form-control" id="move-page">
                        <option value="">-- Select a page to move to a child of this page --</option>
                        {{#each pageList.models}}
                            {{partial "site/option" key=attributes.id value=attributes.title}}
                        {{/each}}
                    </select>
                    <button class="btn btn-primary" id="move-page"><span class="glyphicon glyphicon-share-alt"></span> Move Page to Child</button>
                </div>
            </div>
            <div class="panel-body">
                <div id="add-new-page" class="input-group">
                    <span class="input-group-addon">URL:</span>
                    <input id="addPageUrl" type="text" maxlength="1024" class="form-control" placeholder="/your/url/here" value="{{url}}"/>
                    <span class="input-group-btn">
                        <button class="btn btn-primary" id="add-page"><span class="glyphicon glyphicon-plus"></span> Add Child Page</button>
                    </span>
                </div>
            </div>
        </div>
    {{/if}}
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h3>{{#if page.attributes.id}}Edit{{else}}Add{{/if}} Page</h3></div>
        <div class="panel-body">
            <div class="input-group">
                <span class="input-group-addon">URL:</span>
                <input id="pageUrl" type="text" maxlength="1024" class="form-control" placeholder="/your/url/here" value="{{url}}"/>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Title:</span>
                <input id="pageTitle" type="text" maxlength="255" class="form-control" placeholder="Full Page Title" value="{{page.attributes.title}}"/>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Short Title:</span>
                <input id="pageShortTitle" type="text" maxlength="255" class="form-control" placeholder="Optional Short Title" value="{{page.attributes.shortTitle}}"/>
            </div>
            <div class="vertical-margin"><textarea style="width: 100%; height: 400px;" id="pageContent">{{page.attributes.content}}</textarea></div>
            <div class="text-center">
                <button type="button" id="loginButton" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body text-center"><h3>Preview</h3></div>
    </div>
    <div id="preview">{{{page.attributes.content}}}</div>
</div>
<div class="col-sm-2 hidden-xs right-side">
    <div class="panel panel-primary">
        <div class="panel-heading panel-heading-small text-center">Site Administration</div>
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/admin">Admin</a></li>
            <li><a href="/admin/pages">Pages</a></li>
            <!-- TODO: List individual pages -->
            <li class="active">Page</li>
        </ol>
        <div class="panel-body">
            Add or update the pages on the website, and moderate comments made on each page.<br/><br/>
            Please keep in mind that you cannot navigate directly to the URL of this page, nor may you bookmark this page. You must access this page via the Admin menu.
        </div>
    </div>
</div>
