<div class="col-xs-8">
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h3>External Resources</h3></div>
        <div class="panel-body text-center">
            Visit these websites to add or update YouTube playlists.<br /><br />
            <a href="https://www.youtube.com/dashboard" target="_blank" class="btn btn-lg btn-primary">YouTube</a>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h3>Clear Caches</h3></div>
        <div class="panel-body text-center">
            Use this after updating YouTube to force the website to update immediately.<br /><br />
            <button id="clear-caches" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-trash"></span> Clear Caches</button>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h3>Comments to Moderate</h3></div>
        {{#each comments.models}}
            {{partial "admin/youtube/comment"}}
        {{/each}}
        {{#ifCond comments.models.length "===" 0}}
            <div class="panel-body">There are no comments pending moderation.</div>
        {{/ifCond}}
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h3>YouTube Playlists</h3></div>
        <div class="panel-body">
            Use this list to allow the site to display a YouTube Playlist.<br /><br />
            {{#each youtube.models}}
                <div class="navbar navbar-default playlist" data-playlist-id="{{attributes.playlistId}}" style="background-color: #eeeeee; border: solid 1px #cccccc;">
                    <div class="container-fluid">
                        <div class="navbar-left" style="margin-right: 20px;">
                            <ul class="nav navbar-nav">
                                <li class="navbar-text" style="font-size: 20px; padding: 10px 0; color: #000000;">{{attributes.playlistId}}</li>
                            </ul>
                        </div>
                        <div class="navbar-right" style="margin-right: 0;">
                            <ul class="nav">
                                <li>
                                    <div>
                                        <a href="https://www.youtube.com/playlist?list={{attributes.playlistId}}" class="btn btn-primary navbar-btn" target="_blank"><span class="glyphicon glyphicon-globe"></span> View Playlist</a>
                                        <button class="btn btn-danger navbar-btn delete-playlist"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {{/each}}
            {{#ifCond youtube.models.length "===" 0}}
                There are no allowed playlists.
            {{/ifCond}}
        </div>
        <div class="panel-body">
            <div class="text-center">
                Playlist ID: <input type="text" id="playlist-id" /> <button class="btn btn-primary" id="add-playlist"><span class="glyphicon glyphicon-plus"></span> Add Playlist</button>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h3>DCL YouTube Playlists</h3></div>
        <div class="panel-body">
            Use this list to generate the DCL YouTube playlists.<br /><br />
            {{#each dclYoutube.models}}
                <div class="navbar navbar-default playlist" data-playlist-id="{{attributes.playlistId}}" style="background-color: #eeeeee; border: solid 1px #cccccc;">
                    <div class="container-fluid">
                        <div class="navbar-left" style="margin-right: 20px;">
                            <ul class="nav navbar-nav">
                                <li class="navbar-text" style="font-size: 20px; padding: 10px 0; color: #000000;">Season ending {{{timestampToDate attributes.seasonEndDate "MM/DD/YYYY"}}}: {{attributes.playlistId}}</li>
                            </ul>
                        </div>
                        <div class="navbar-right" style="margin-right: 0;">
                            <ul class="nav">
                                <li>
                                    <div>
                                        <a href="https://www.youtube.com/playlist?list={{attributes.playlistId}}" class="btn btn-primary navbar-btn" target="_blank"><span class="glyphicon glyphicon-globe"></span> View Playlist</a>
                                        <button class="btn btn-danger navbar-btn delete-playlist"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {{/each}}
            {{#ifCond dclYoutube.models.length "===" 0}}
                There are no DCL playlists.
            {{/ifCond}}
        </div>
        <div class="panel-body">
            <div class="text-center">
                Playlist ID: <input type="text" id="dcl-playlist-id" /><br />
                Season End Date: <input type="text" id="dcl-season-end-date" /><br />
                <button class="btn btn-primary" id="add-dcl-playlist"><span class="glyphicon glyphicon-plus"></span> Add Playlist</button>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-2 hidden-xs right-side">
    <div class="panel panel-primary">
        <div class="panel-heading panel-heading-small text-center">Site Administration</div>
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/admin">Admin</a></li>
            <li class="active">YouTube</li>
        </ol>
        <div class="panel-body">
            Add or remove playlists from the allowed playlists for the site.<br/><br/>
            Please keep in mind that you cannot navigate directly to the URL of this page, nor may you bookmark this page. You must access this page via the Admin menu.
        </div>
    </div>
</div>
