<div class="col-xs-8">
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h3>{{game.attributes.name}}</h3></div>
        <div class="panel-body" style="overflow: visible;">
            <div class="text-center"><img src="{{game.attributes.header}}" style="max-width: 100%;" /></div>
            <h4 class="text-center">Time played: <b>{{game.attributes.playtimeForever}}</b></h4>
            {{#ifCond game.attributes.playtimeTwoWeeks "!==" "0 minutes"}}
                <h4 class="text-center">Last 2 weeks: <b>{{game.attributes.playtimeTwoWeeks}}</b></h4>
            {{/ifCond}}
            {{#if game.attributes.achievements}}
                {{#if game.attributes.achievements.earned}}
                    <br />
                    <h3 class="text-center">Earned Achievements</h3>
                    {{#each game.attributes.achievements.earned}}<div class="tooltip-hover" style="display: inline-block; margin-right: 5px; margin-bottom: 5px;">
                        <img src="{{icon}}" style="width: 64px; height: 64px;" />
                        <div class="tooltip-content">
                            <b>{{displayName}}</b><br/>{{description}}
                        </div>
                    </div>{{/each}}
                    <br />
                {{/if}}
                {{#if game.attributes.achievements.unearned}}
                    <br />
                    <h3 class="text-center">Unearned Achievements</h3>
                    {{#each game.attributes.achievements.unearned}}<div class="tooltip-hover" style="display: inline-block; margin-right: 5px; margin-bottom: 5px;">
                        <img src="{{icongray}}" style="width: 64px; height: 64px;" />
                        <div class="tooltip-content">
                            <b>{{displayName}}</b><br />{{description}}
                        </div>
                    </div>{{/each}}
                    <br />
                {{/if}}
            {{/if}}
        </div>
    </div>
    {{{page.attributes.page.content}}}
</div>
<div class="col-sm-2 hidden-xs right-side">
    <div class="panel panel-primary">
        <div class="panel-heading panel-heading-small text-center">{{game.attributes.name}}</div>
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            {{#if page.attributes.parents}}
                {{#each page.attributes.parents}}
                    {{#if @last}}
                        <li class="active">{{shortTitle}}</li>
                    {{else}}
                        <li><a href="{{{url}}}">{{shortTitle}}</a></li>
                    {{/if}}
                {{/each}}
            {{else}}
                <li><a href="/gaming">Gaming</a></li>
                <li class="active">{{game.attributes.name}}</li>
            {{/if}}
        </ol>
        <div class="panel-body">
            Welcome to the world of roncli Gaming. Learn about all of the games I play, watch past videos of me playing, and find out what I'm up to in each game.<br /><br />
            Also, be sure to follow me on <a href="http://twitch.tv/roncli" target="_blank">Twitch</a> and watch live!
        </div>
    </div>
    {{partial "site/share"}}
    {{#if page.attributes.siblings}}
        <div class="btn-group-vertical btn-group-xs panel panel-primary">
            <div class="panel-heading panel-heading-small text-center">{{page.attributes.parentTitle}}</div>
            <div class="sibling-pages">
                <div class="scroller-wrapper" id="sibling-pages-wrapper">
                    <div class="scroller">
                        <div class="siblings btn-group-vertical btn-group-xs">
                            {{#each page.attributes.siblings}}
                                {{#ifCond id "===" @root.page.attributes.page.id}}
                                    <a class="btn btn-warning selected" href="{{{url}}}">{{shortTitle}}</a>
                                {{/ifCond}}
                                {{#ifCond id "!==" @root.page.attributes.page.id}}
                                    <a class="btn btn-default" href="{{{url}}}">{{shortTitle}}</a>
                                {{/ifCond}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
    {{#if page.attributes.children}}
        <div class="btn-group-vertical btn-group-xs panel panel-primary">
            <div class="panel-heading panel-heading-small text-center">{{#if page.attributes.page.shortTitle}}{{page.attributes.page.shortTitle}}{{else}}{{page.attributes.page.title}}{{/if}}</div>
            <div class="children-pages">
                <div class="scroller-wrapper" id="children-pages-wrapper">
                    <div class="scroller">
                        <div class="children btn-group-vertical btn-group-xs">
                            {{#each page.attributes.children}}
                                <a class="btn btn-default" href="{{{url}}}">{{shortTitle}}</a>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
</div>
