<div class="col-xs-8">
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h3>Six Gaming</h3></div>
        <div class="panel-body">
            <div style="float: left; margin-right: 5px;"><img src="/images/sixGaming.png" style="max-width: 250px; width: 100%;" /></div>
            <a href="http://www.facebook.com/SixGamingGG" target="_blank">Six Gaming</a> is an organization dedicated to gaming.  It was born from my old <a href="http://www.six-minutes.com" target="_blank">Six Minutes To Release</a> World of Warcraft raiding guild.  Currently, it is home of the Six Gaming Podcast, a podcast dedicated to all things gaming.  I am one of the podcast's co-hosts.<br /><br />
            <h3 class="text-center" style="clear: both;"><a href="/playlist/PLzcYb51h4me8-Jq9mOk6Vk1MLodmhRZ6K/six-gaming-podcast-highlights">The Six Gaming Podcast</a></h3>
            Catch the Six Gaming Podcast on <a href="https://www.youtube.com/channel/UCph5zsBOntM8tWBUB_jm52A">YouTube</a> Saturdays at 11 PM Eastern/8 PM Pacific.  Here are the highlights from our most recent episode.<br /><br />
            <div class="text-center">
                <h4 class="text-center" style="margin-bottom: 3px;">{{sixGamingPodcast.attributes.title}}</h4>
                <iframe src="https://www.youtube.com/embed/{{{sixGamingPodcast.attributes.id}}}?feature=oembed&amp;enablejsapi=1&amp;wmode=opaque" frameborder="0" allowfullscreen="" style="width: 100%; height: 200px;"></iframe><br />
                <button class="btn btn-primary add-to-media-player" data-source="youtube" data-url="https://www.youtube.com/watch?v={{{sixGamingPodcast.attributes.id}}}"><span class="glyphicon glyphicon-music"></span> Add To Playlist</button>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h3>World of Warcraft</h3></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <img src="{{{wow.attributes.character.profile}}}" style="width: 100%;" />
                </div>
                <div class="col-md-6">
                    <a href="http://us.battle.net/wow/en/character/senjin/Roncli/" target="_blank" style="font-size: 20px;">Roncli</a> <span style="font-size: 16px;">&lt;<a href="http://us.battle.net/wow/en/guild/senjin/For_Honor/" target="_blank">For Honor</a>&gt;</span><br />
                    <span style="color: #f48cba;">Human Paladin</span><br />
                    {{{wow.attributes.character.achievementPoints}}} Achievement Points<br /><br />
                    I have been playing <a href="http://www.worldofwarcraft.com" target="_blank">World of Warcraft</a> since November 2006, just before the first expansion Burning Crusade came out.  I ran the guild <a href="http://www.six-minutes.com" target="_blank">Six Minutes To Release</a> for just over 7 years up until February of 2015, which spawned the <a href="http://www.facebook.com/SixGamingGG" target="_blank">Six Gaming</a> brand.  I am currently raiding with the guild <a href="https://www.facebook.com/groups/ForHonor/" target="_blank">For Honor</a>.
                    <h4 class="text-center" style="margin-top: 10px;">Character Feed</h4>
                    <div style="max-height: 200px; overflow-x: hidden; overflow-y: auto; border: solid 1px #cccccc; padding: 1px 3px;">
                        {{#each wow.attributes.feedItems}}
                            <div class="div-table" style="margin-bottom: 5px;">
                                <div>
                                    {{#ifCond type "!==" "BOSSKILL"}}
                                        <div style="padding-right: 5px; width: 20px; height: 20px; vertical-align: top;">
                                            <div style="width: 20px; height: 20px; background-size: 20px 20px; background-image: url('http://us.media.blizzard.com/wow/icons/56/{{icon}}.jpg'); display: inline-block;"></div>
                                        </div>
                                    {{/ifCond}}
                                    <div style="vertical-align: top;">
                                        <div style="display: table; table-layout: fixed; width: 100%;">
                                            <span style="display: table-cell;">
                                                {{#ifCond type "===" "BOSSKILL"}}
                                                    Defeated <b>{{boss}}</b>
                                                {{/ifCond}}
                                                {{#ifCond type "===" "LOOT"}}
                                                    <div style="display: inline-block;">
                                                        Looted <b>{{item}}</b>
                                                    </div>
                                                {{/ifCond}}
                                                {{#ifCond type "===" "ACHIEVEMENT"}}
                                                    <div style="display: inline-block;">
                                                        Earned <b>{{achievement}}</b>
                                                    </div>
                                                {{/ifCond}}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="hidden-xs" style="padding-left: 5px; width: 1px; white-space: nowrap; vertical-align: top;">
                                        {{{toTimeAgo timestamp}}}
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="text-center" style="margin-top: 5px;">
                <h3 class="text-center" style="clear: both;"><a href="/playlist/PLoqgd0t_KsN4SzIkVVyPVt7UuT3d6Rr7G/gaming-world-of-warcraft">World of Warcraft Playlist</a></h3>
                <h4 class="text-center" style="margin-bottom: 3px;">{{wowVideo.attributes.title}}</h4>
                <iframe src="https://www.youtube.com/embed/{{{wowVideo.attributes.id}}}?feature=oembed&amp;enablejsapi=1&amp;wmode=opaque" frameborder="0" allowfullscreen="" style="width: 100%; height: 200px;"></iframe><br />
                <button class="btn btn-primary add-to-media-player" data-source="youtube" data-url="https://www.youtube.com/watch?v={{{wowVideo.attributes.id}}}"><span class="glyphicon glyphicon-music"></span> Add To Playlist</button>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h3>Diablo III</h3></div>
        <div class="panel-body">
            <div>
                <div class="hidden-xs" style="width: 320px; height: 169px; background-image: url('/images/d3ros.png'); background-size: 320px 169px; float: left; margin-right: 3px;"></div>
                I've played Diablo III since beta fairly regularly. I am the leader of the Six Gaming clan, which consists mostly of former Six Minutes To Release members and friends.
            </div>
            <div style="clear: both;">
                <h4 class="text-center" style="margin-top: 10px;">Heroes</h4>
                {{#each d3.models}}
                    <div class="div-table" style="margin-bottom: 5px;">
                        <div>
                            <div style="vertical-align: top;">
                                <div style="display: table; table-layout: fixed; width: 100%;">
                                    <span style="display: table-cell;">
                                        <a href="/d3/{{attributes.id}}/{{attributes.name}}">
                                            {{#if attributes.seasonal}}<span class="text-success"><b>Seasonal</b></span> {{/if}}
                                            {{#if attributes.hardcore}}<span class="text-danger"><b>Hardcore</b></span> {{/if}}
                                            {{attributes.class}} <b>{{attributes.name}}</b>
                                        </a>
                                        Paragon {{attributes.paragonLevel}}
                                    </span>
                                </div>
                            </div>
                            <div class="hidden-xs" style="padding-left: 5px; width: 1px; white-space: nowrap; vertical-align: top;">
                                {{{toTimeAgo attributes.lastUpdated}}}
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
            <div class="text-center" style="margin-top: 5px;">
                <h3 class="text-center" style="clear: both;"><a href="/playlist/PLoqgd0t_KsN7LEYsVepkfbn2xOiC5M5yY/gaming-diablo-iii">Diablo III Playlist</a></h3>
                <h4 class="text-center" style="margin-bottom: 3px;">{{d3Video.attributes.title}}</h4>
                <iframe src="https://www.youtube.com/embed/{{{d3Video.attributes.id}}}?feature=oembed&amp;enablejsapi=1&amp;wmode=opaque" frameborder="0" allowfullscreen="" style="width: 100%; height: 200px;"></iframe><br />
                <button class="btn btn-primary add-to-media-player" data-source="youtube" data-url="https://www.youtube.com/watch?v={{{d3Video.attributes.id}}}"><span class="glyphicon glyphicon-music"></span> Add To Playlist</button>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h3>League of Legends</h3></div>
        <div class="panel-body">
            <div>
                <div class="hidden-xs" style="width: 192px; height: 192px; background-image: url('/images/league/{{{toLower lol.attributes.ranked.tier}}}.png'); background-size: 192px 192px; float: left; margin-right: 3px;"></div>
                I've been playing League of Legends since 2013, but did not get into playing ranked until the summer of 2014.  I'm pretty bad, so I started a series called Ron's Bronze Plays, where I play at least 3 games a week.  This airs on <a href="http://twitch.tv/roncli" target="_blank">Twitch</a> starting sometime around midnight Monday Eastern/9 PM Sunday Pacific, sometimes later.
            </div>
            <div style="clear: both;">
                <h3 class="text-center" style="margin-top: 10px;">Current Season</h3>
                <div class="text-center">
                    {{lol.attributes.ranked.tier}} {{lol.attributes.ranked.division}}, {{lol.attributes.ranked.leaguePoints}} League Points - {{lol.attributes.ranked.wins}} Wins, {{lol.attributes.ranked.losses}} Losses
                </div>
                <h4 class="text-center" style="margin-top: 10px;">Match History</h4>
                <div style="max-height:200px;overflow-x:hidden;overflow-y:auto;border:solid 1px #ccc;padding:1px 3px">
                    {{#each lol.attributes.games}}
                        <div class="div-table" style="margin-bottom: 5px;">
                            <div>
                                <div style="padding-right: 5px; width: 20px; height: 20px; vertical-align: top;">
                                    {{#each ../lol.attributes.champions}}{{#ifCond @key "===" ../championId}}<div style="width: 20px; height: 20px; background-size: 20px 20px; background-image: url('{{image}}'); display: inline-block;"></div>{{/ifCond}}{{/each}}
                                </div>
                                <div style="vertical-align: top;">
                                    <div style="display: table; table-layout: fixed; width: 100%;">
                                        {{#if winner}}<span class="text-success">Won</span>{{else}}<span class="text-danger">Lost</span>{{/if}} -
                                        {{matchDuration.minutes}}:{{matchDuration.seconds}} - <b>{{#each ../lol.attributes.champions}}{{#ifCond @key "===" ../championId}}{{name}}{{/ifCond}}{{/each}}</b> - {{kills}}/{{deaths}}/{{assists}} - {{goldPerMinute}} GPM<br />
                                    </div>
                                </div>
                                <div class="hidden-xs" style="padding-left: 5px; width: 1px; white-space: nowrap; vertical-align: top;">
                                    {{{toTimeAgo matchCreation}}}
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
            <div class="text-center" style="margin-top: 5px;">
                <h3 class="text-center" style="clear: both;"><a href="/playlist/PLoqgd0t_KsN5YU7YGjhofQ7DJTt8pV4OZ/gaming-league-of-legends">League of Legends Playlist</a></h3>
                <h4 class="text-center" style="margin-bottom: 3px;">{{lolVideo.attributes.title}}</h4>
                <iframe src="https://www.youtube.com/embed/{{{lolVideo.attributes.id}}}?feature=oembed&amp;enablejsapi=1&amp;wmode=opaque" frameborder="0" allowfullscreen="" style="width: 100%; height: 200px;"></iframe><br />
                <button class="btn btn-primary add-to-media-player" data-source="youtube" data-url="https://www.youtube.com/watch?v={{{lolVideo.attributes.id}}}"><span class="glyphicon glyphicon-music"></span> Add To Playlist</button>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h3>Steam Collection</h3></div>
    </div>
    <div class="row">
        {{#each steam.models}}
            <div class="col-sm-4">
                <div class="btn-group-vertical">
                    <a class="btn btn-default" href="{{attributes.url}}">
                        <div class="panel-heading panel-title text-center"><h4>{{attributes.name}}</h4></div>
                    </a>
                    <div class="body" style="padding: 0;">
                        <a href="{{attributes.url}}">
                            <img src="{{attributes.image}}" style="width: 100%;" />
                        </a>
                    </div>
                </div>
            </div>
            {{#every 3 @index @last}}
            </div>
            <div class="row">
            {{/every}}
        {{/each}}
    </div>
</div>
<div class="col-sm-2 hidden-xs right-side">
    <div class="panel panel-primary">
        <div class="panel-heading panel-heading-small text-center">Gaming</div>
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Gaming</li>
        </ol>
        <div class="panel-body">
            Welcome to the world of roncli Gaming.  Learn about all of the games I play, watch past videos of me playing, and find out what I'm up to in each game.
        </div>
    </div>
    {{partial "site/share"}}
</div>
