<div class="col-xs-8">
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h3>Six Gaming</h3></div>
        <div class="panel-body">

        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h3>World of Warcraft</h3></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <img src="{{{wow.attributes.character.profile}}}" style="width: 100%;" />
                </div>
                <div class="col-md-6">
                    <a href="http://us.battle.net/wow/en/character/senjin/Roncli/" target="_blank" style="font-size: 20px;">Roncli</a> <span style="font-size: 16px;">&lt;<a href="http://us.battle.net/wow/en/guild/senjin/For_Honor/" target="_blank">For Honor</a>&gt;</span><br />
                    <span style="color: #f48cba;">Human Paladin</span><br />
                    {{{wow.attributes.character.achievementPoints}}} Achievement Points<br /><br />
                    I have been playing <a href="http://www.worldofwarcraft.com" target="_blank">World of Warcraft</a> since November 2006, just before the first expansion Burning Crusade came out.  I ran the guild <a href="http://www.six-minutes.com" target="_blank">Six Minutes To Release</a> for just over 7 years up until February of 2015, which spawned the <a href="http://www.facebook.com/SixGamingGG" target="_blank">Six Gaming</a> brand.  I am currently raiding with the guild <a href="https://www.facebook.com/groups/ForHonor/" target="_blank">For Honor</a>.
                    <h4 class="text-center" style="margin-top: 10px;">Character Feed</h4>
                    <div style="max-height: 200px; overflow-x: hidden; overflow-y: auto; border: solid 1px #cccccc; padding: 1px 3px;">
                        {{#each wow.attributes.feedItems}}
                            <div class="div-table" style="margin-bottom: 5px;">
                                <div>
                                    {{#ifCond type "!==" "BOSSKILL"}}
                                        <div style="padding-right: 5px; width: 20px; height: 20px; vertical-align: top;">
                                            <div style="width: 20px; height: 20px; background-size: 20px 20px; background-image: url('http://us.media.blizzard.com/wow/icons/56/{{icon}}.jpg'); display: inline-block;"></div>
                                        </div>
                                    {{/ifCond}}
                                    <div style="vertical-align: top;">
                                        <div style="display: table; table-layout: fixed; width: 100%;">
                                            <span style="display: table-cell;">
                                                {{#ifCond type "===" "BOSSKILL"}}
                                                    Defeated <b>{{boss}}</b>
                                                {{/ifCond}}
                                                {{#ifCond type "===" "LOOT"}}
                                                    <div style="display: inline-block;">
                                                        Looted <b>{{item}}</b>
                                                    </div>
                                                {{/ifCond}}
                                                {{#ifCond type "===" "ACHIEVEMENT"}}
                                                    <div style="display: inline-block;">
                                                        Earned <b>{{achievement}}</b>
                                                    </div>
                                                {{/ifCond}}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="hidden-xs" style="padding-left: 5px; width: 1px; white-space: nowrap; vertical-align: top;">
                                        {{{toTimeAgo timestamp}}}
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h3>Diablo III</h3></div>
        <div class="panel-body">
            <div>
                <div class="hidden-xs" style="width: 320px; height: 169px; background-image: url('/images/d3ros.png'); background-size: 320px 169px; float: left; margin-right: 3px;"></div>
                I've played Diablo III since beta fairly regularly. I am the leader of the Six Gaming clan, which consists mostly of former Six Minutes To Release members and friends.
            </div>
            <div style="clear: both;">
                <h4 class="text-center" style="margin-top: 10px;">Heroes</h4>
                {{#each d3.models}}
                    <div class="div-table" style="margin-bottom: 5px;">
                        <div>
                            <div style="vertical-align: top;">
                                <div style="display: table; table-layout: fixed; width: 100%;">
                                    <span style="display: table-cell;">
                                        <a href="/d3/{{attributes.id}}/{{attributes.name}}">
                                            {{#if attributes.seasonal}}<span class="text-success"><b>Seasonal</b></span> {{/if}}
                                            {{#if attributes.hardcore}}<span class="text-danger"><b>Hardcore</b></span> {{/if}}
                                            {{attributes.class}} <b>{{attributes.name}}</b>
                                        </a>
                                        Paragon {{attributes.paragonLevel}}
                                    </span>
                                </div>
                            </div>
                            <div class="hidden-xs" style="padding-left: 5px; width: 1px; white-space: nowrap; vertical-align: top;">
                                {{{toTimeAgo attributes.lastUpdated}}}
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h3>League of Legends</h3></div>
        <div class="panel-body">

        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h3>Steam</h3></div>
        <div class="panel-body">

        </div>
    </div>
</div>
<div class="col-sm-2 hidden-xs right-side">
    <div class="panel panel-primary">
        <div class="panel-heading panel-heading-small text-center">Gaming</div>
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Gaming</li>
        </ol>
        <div class="panel-body">
            Welcome to the world of roncli Gaming.  Learn about all of the games I play, watch past videos of me playing, and find out what I'm up to in each game.
        </div>
    </div>
    {{partial "site/share"}}
</div>
