<div class="col-xs-8">
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h3>Gaming</h3></div>
        <div class="panel-body">
            I'm a gamer.  Since owning a Texas Instruments 99/4A, I have used games to entertain, explore, compete, and relax.  From first person shooters, to role-playing games, to action platformers, to real-time strategy games, and more.  Below is my current collection of games that I play extensively, along with all of the games in my Steam collection.<br /><br />
            <div class="div-table" style="width: auto; margin: 0 auto;">
                <div>
                    <div style="vertical-align: middle; padding-right: 5px;"><img src="/images/icons/sixGaming.png" style="width: 32px; height: 32px;"/></div>
                    <div style="vertical-align: middle;"><h3><a href="#sixGaming">Six Gaming</a></h3></div>
                </div>
                <div>
                    <div style="vertical-align: middle; padding-right: 5px;"><img src="/images/icons/wow.png" style="width: 32px; height: 32px;"/></div>
                    <div style="vertical-align: middle;"><h3><a href="#wow">World of Warcraft</a></h3></div>
                </div>
                <div>
                    <div style="vertical-align: middle; padding-right: 5px;"><img src="/images/icons/diablo3.png" style="width: 32px; height: 32px;"/></div>
                    <div style="vertical-align: middle;"><h3><a href="#diablo3">Diablo III</a></h3></div>
                </div>
                <div>
                    <div style="vertical-align: middle; padding-right: 5px;"><img src="/images/icons/descent.png" style="width: 32px; height: 32px;"/></div>
                    <div style="vertical-align: middle;"><h3><a href="#descent">Descent</a></h3></div>
                </div>
                <div>
                    <div style="vertical-align: middle; padding-right: 5px;"><img src="/images/icons/steam.png" style="width: 32px; height: 32px;"/></div>
                    <div style="vertical-align: middle;"><h3><a href="#steam">Steam</a></h3></div>
                </div>
            </div>
        </div>
    </div>
    {{{page.attributes.page.content}}}
    <a name="sixGaming"></a>
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h3>Six Gaming</h3></div>
        <div class="panel-body">
            <div style="float: left; margin-right: 5px;"><img src="/images/sixGaming.png" style="max-width: 250px; width: 100%;" /></div>
            <a href="http://www.facebook.com/SixGamingGG" target="_blank">Six Gaming</a> is an organization dedicated to gaming.  It was born from my old <a href="http://www.six-minutes.com" target="_blank">Six Minutes To Release</a> World of Warcraft raiding guild.  Currently, it is home of the Six Gaming Podcast, a podcast dedicated to all things gaming.  I am one of the podcast's co-hosts.<br /><br />
            <h3 class="text-center" style="clear: both;"><a href="/playlist/PLzcYb51h4me8-Jq9mOk6Vk1MLodmhRZ6K/six-gaming-podcast-highlights">The Six Gaming Podcast</a></h3>
            Catch the Six Gaming Podcast on <a href="https://www.youtube.com/channel/UCph5zsBOntM8tWBUB_jm52A">YouTube</a> Saturdays at 11 PM Eastern/8 PM Pacific.  Here are the highlights from our most recent episode.<br /><br />
            <div class="text-center">
                <h4 class="text-center" style="margin-bottom: 3px;">{{sixGamingPodcast.attributes.title}}</h4>
                <iframe src="https://www.youtube.com/embed/{{{sixGamingPodcast.attributes.id}}}?feature=oembed&amp;enablejsapi=1&amp;wmode=opaque" frameborder="0" allowfullscreen="" style="width: 100%; height: 200px;"></iframe><br />
                <button class="btn btn-primary add-to-media-player" data-source="youtube" data-url="https://www.youtube.com/watch?v={{{sixGamingPodcast.attributes.id}}}"><span class="glyphicon glyphicon-music"></span> Add To Playlist</button>
            </div>
        </div>
    </div>
    <a name="wow"></a>
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h3>World of Warcraft</h3></div>
        <div class="panel-body">
            {{#if wowMissing}}
                World of Warcraft data is currently unavailable from Battle.Net.
            {{else}}
                    <div class="row">
                    <div class="col-md-6">
                        <img src="{{{wow.models.0.attributes.character.profile}}}" style="width: 100%;" />
                    </div>
                    <div class="col-md-6">
                        <a href="http://us.battle.net/wow/en/character/senjin/Roncli/" target="_blank" style="font-size: 20px;">Roncli</a> <span style="font-size: 16px;">&lt;<a href="http://us.battle.net/wow/en/guild/senjin/For_Honor/" target="_blank">For Honor</a>&gt;</span><br />
                        <span style="color: #f48cba;">Human Paladin</span><br />
                        {{{wow.models.0.attributes.character.achievementPoints}}} Achievement Points<br /><br />
                        I have been playing <a href="http://www.worldofwarcraft.com" target="_blank">World of Warcraft</a> since November 2006, just before the first expansion Burning Crusade came out.  I ran the guild <a href="http://www.six-minutes.com" target="_blank">Six Minutes To Release</a> for just over 7 years up until February of 2015, which spawned the <a href="http://www.facebook.com/SixGamingGG" target="_blank">Six Gaming</a> brand.  I am currently raiding with the guild <a href="https://www.facebook.com/groups/ForHonor/" target="_blank">For Honor</a>.
                        <h4 class="text-center" style="margin-top: 10px;">Character Feed</h4>
                        <div style="max-height: 200px; overflow-x: hidden; overflow-y: auto; border: solid 1px #cccccc; padding: 1px 3px;">
                            {{#each wow.models.0.attributes.feedItems}}
                                <div class="div-table" style="margin-bottom: 5px;">
                                    <div>
                                        {{#ifCond type "!==" "BOSSKILL"}}
                                            <div style="padding-right: 5px; width: 20px; height: 20px; vertical-align: top;">
                                                <div style="width: 20px; height: 20px; background-size: 20px 20px; background-image: url('https://render-us.worldofwarcraft.com/icons/56/{{icon}}.jpg'); display: inline-block;"></div>
                                            </div>
                                        {{/ifCond}}
                                        <div style="vertical-align: top;">
                                            <div style="display: table; table-layout: fixed; width: 100%;">
                                                <span style="display: table-cell;">
                                                    {{#ifCond type "===" "BOSSKILL"}}
                                                        Defeated <b>{{boss}}</b>
                                                    {{/ifCond}}
                                                    {{#ifCond type "===" "LOOT"}}
                                                        <div style="display: inline-block;">
                                                            Looted <b>{{item}}</b>
                                                        </div>
                                                    {{/ifCond}}
                                                    {{#ifCond type "===" "ACHIEVEMENT"}}
                                                        <div style="display: inline-block;">
                                                            Earned <b>{{achievement}}</b>
                                                        </div>
                                                    {{/ifCond}}
                                                </span>
                                            </div>
                                        </div>
                                        <div class="hidden-xs" style="padding-left: 5px; width: 1px; white-space: nowrap; vertical-align: top;">
                                            {{{toTimeAgo timestamp}}}
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            {{/if}}
            <div class="text-center" style="margin-top: 10px;">
                <h3 class="text-center" style="clear: both;"><a href="/playlist/PLoqgd0t_KsN4SzIkVVyPVt7UuT3d6Rr7G/gaming-world-of-warcraft">World of Warcraft Videos</a></h3>
                <h4 class="text-center" style="margin-bottom: 3px;">{{wowVideo.attributes.title}}</h4>
                <iframe src="https://www.youtube.com/embed/{{{wowVideo.attributes.id}}}?feature=oembed&amp;enablejsapi=1&amp;wmode=opaque" frameborder="0" allowfullscreen="" style="width: 100%; height: 200px;"></iframe>
                <br/>
                <button class="btn btn-primary add-to-media-player" data-source="youtube" data-url="https://www.youtube.com/watch?v={{{wowVideo.attributes.id}}}"><span class="glyphicon glyphicon-music"></span> Add To Playlist</button>
            </div>
        </div>
    </div>
    <a name="diablo3"></a>
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h3>Diablo III</h3></div>
        <div class="panel-body">
            {{#if d3Missing}}
                Diablo III data is currently unavailable from Battle.Net.
            {{else}}
                <div>
                    <div class="hidden-xs" style="width: 320px; height: 169px; background-image: url('/images/d3ros.png'); background-size: 320px 169px; float: left; margin-right: 3px;"></div>
                    I've played <a href="http://www.diablo3.com/" target="_blank">Diablo III</a> since beta fairly regularly. I am the leader of the Six Gaming clan, which consists mostly of former Six Minutes To Release members and friends.
                </div>
                <div style="clear: both;">
                    <h4 class="text-center" style="margin-top: 10px;">Heroes</h4>
                    {{#each d3.models}}
                        <div class="div-table" style="margin-bottom: 5px;">
                            <div>
                                <div style="vertical-align: top;">
                                    <div style="display: table; table-layout: fixed; width: 100%;">
                                        <span style="display: table-cell;">
                                            <a href="http://us.battle.net/d3/en/profile/roncli-1818/hero/{{attributes.id}}" target="_blank">
                                                {{#if attributes.seasonal}}<span class="text-success"><b>Seasonal</b></span> {{/if}}
                                                {{#if attributes.hardcore}}<span class="text-danger"><b>Hardcore</b></span> {{/if}}
                                                {{attributes.class}} <b>{{attributes.name}}</b>
                                            </a>
                                            Paragon {{attributes.paragonLevel}}
                                        </span>
                                    </div>
                                </div>
                                <div class="hidden-xs" style="padding-left: 5px; width: 1px; white-space: nowrap; vertical-align: top;">
                                    {{{toTimeAgo attributes.lastUpdated}}}
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{/if}}
            <div class="text-center" style="margin-top: 10px;">
                <h3 class="text-center" style="clear: both;"><a href="/playlist/PLoqgd0t_KsN7LEYsVepkfbn2xOiC5M5yY/gaming-diablo-iii">Diablo III Videos</a></h3>
                <h4 class="text-center" style="margin-bottom: 3px;">{{d3Video.attributes.title}}</h4>
                <iframe src="https://www.youtube.com/embed/{{{d3Video.attributes.id}}}?feature=oembed&amp;enablejsapi=1&amp;wmode=opaque" frameborder="0" allowfullscreen="" style="width: 100%; height: 200px;"></iframe><br />
                <button class="btn btn-primary add-to-media-player" data-source="youtube" data-url="https://www.youtube.com/watch?v={{{d3Video.attributes.id}}}"><span class="glyphicon glyphicon-music"></span> Add To Playlist</button>
            </div>
        </div>
    </div>
    <a name="descent"></a>
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h3>Descent</h3></div>
        <div class="panel-body">
            <div>
                <div class="hidden-xs" style="width: 320px; height: 53px; background-image: url('/images/descent.png'); background-size: 320px 53px; float: left; margin-right: 3px;"></div>
                I've been playing <a href="http://store.steampowered.com/app/273570/" target="_blank">Descent</a>, <a href="http://store.steampowered.com/app/273580/" target="_blank">Descent 2</a>, and <a href="http://store.steampowered.com/app/273590/" target="_blank">Descent 3</a> since they were released, in 1995, 1996, and 1999 respectively.  I have also backed the next game in the series, Descent: Underground, from <a href="http://www.descendentstudios.com/" target="_blank">Descendent Studios</a> via <a href="https://www.kickstarter.com/projects/descendentstudios/descent-underground" target="_blank">Kickstarter</a>.<br /><br />
                When Descent 3 was released, I joined the Wildcards Empire and earned their top pilot status in Descent and Descent 3, Death Squadron Elite.  I also played for Team X and Nightwing over the years.  I took over the Descent 3 Teams League in 2002 and ran it for several years, running the D3TL Tournament, which was a 16-team league that lasted 4-month in which everyone played 16 games.  Although 4 teams dropped out, it still remains the largest organized team tournament for Descent 3.  Most recently, I've joined the <a href="http://www.descentrangers.com" target="_blank">Descent Rangers</a> to help get active into playing again with the upcoming Descent: Underground title around the corner.<br /><br />
                Because Descent and Descent 2 were released such a long time ago, there are some modifications that you need to make to get the game to work on modern systems.  After installing the games, either from media, on Steam, or on <a href="http://www.gog.com" target="_blank">gog.com</a>, you will need to visit <a href="http://www.dxx-rebirth.com/" target="_blank">dxx-rebirth.com</a> to get the latest source port that runs on modern machines.  You will also want to install the Retro package as part of the installation, or you can grab it from the <a href="http://www.descentrangers.com/WebContent/Index?key=Downloads" target="_blank">Descent Rangers</a> downloads section.
            </div>
            <div style="clear: both;">
                <h3 class="text-center" style="margin-top: 10px;">Descent Champions Ladder</h3>
                The <a href="http://www.descentchampions.org" _blank>Descent Champions Ladder</a> is an active Descent league that ranks each player via a ladder system.  If you defeat a player higher than you, you take their spot.  Players are also rated based on performance, and you can get a litany of stats about their games.  I stream my DCL matches on <a href="http://twitch.tv/roncli" target="_blank">Twitch</a> and then move them to YouTube afterwards.  An average DCL game is about 20 minutes, but can vary depending on the size of the map and aggression of the players involved.<br/><br/>
            </div>
            {{#if dclMissing}}
                Descent Champions Ladder data is currently unavailable.
            {{else}}
                <div>
                    <h4 class="text-center">Current Season</h4>
                    <div class="text-center">
                        <span class="dcl-{{dcl.models.0.attributes.rating}}">{{titleCase dcl.models.0.attributes.rating}} #{{dcl.models.0.attributes.rank}}</span><br />
                        <span class="dcl-diamond">Vs. Diamond: {{dcl.models.0.attributes.records.diamond.wins}}-{{dcl.models.0.attributes.records.diamond.losses}}</span><br />
                        <span class="dcl-gold">Vs. Gold: {{dcl.models.0.attributes.records.gold.wins}}-{{dcl.models.0.attributes.records.gold.losses}}</span><br />
                        <span class="dcl-silver">Vs. Silver: {{dcl.models.0.attributes.records.silver.wins}}-{{dcl.models.0.attributes.records.silver.losses}}</span><br />
                        <span class="dcl-bronze">Vs. Bronze: {{dcl.models.0.attributes.records.bronze.wins}}-{{dcl.models.0.attributes.records.bronze.losses}}</span><br />
                        <span class="dcl-unrated">Vs. Unrated: {{dcl.models.0.attributes.records.unrated.wins}}-{{dcl.models.0.attributes.records.unrated.losses}}</span><br />
                    </div>
                </div>
                <div style="margin-top: 10px;">
                    <h4 class="text-center">Match History</h4>
                    <div style="max-height: 200px; overflow-x: hidden; overflow-y: auto; border: solid 1px #cccccc; padding: 1px 3px;">
                        <div class="div-table" style="margin-bottom: 5px;">
                            {{#each dcl.models.0.attributes.matches}}
                                <div>
                                    <div style="padding-right: 5px; vertical-align: top;">
                                        {{#ifCond pilot.score ">" opponent.score}}
                                            <span class="text-success">Win</span>
                                        {{else}}
                                            <span class="text-danger">Loss</span>
                                        {{/ifCond}}
                                    </div>
                                    <div style="padding-right: 5px; vertical-align: top;">
                                        {{#ifCond pilot.score ">" opponent.score}}
                                            <span class="dcl-{{pilot.rating}}">roncli ({{#if pilot.rank}}#{{pilot.rank}}{{else}}Unranked{{/if}})</span> <b>{{pilot.score}}</b>, <span class="dcl-{{opponent.rating}}">{{opponent.name}} ({{#if opponent.rank}}#{{opponent.rank}}{{else}}Unranked{{/if}})</span> <b>{{opponent.score}}</b>
                                        {{else}}
                                            <span class="dcl-{{opponent.rating}}">{{opponent.name}} ({{#if opponent.rank}}#{{opponent.rank}}{{else}}Unranked{{/if}})</span> <b>{{opponent.score}}</b>, <span class="dcl-{{pilot.rating}}">roncli ({{#if pilot.rank}}#{{pilot.rank}}{{else}}Unranked{{/if}})</span> <b>{{pilot.score}}</b>
                                        {{/ifCond}}
                                    </div>
                                    <div style="padding-right: 5px; vertical-align: top;">
                                        {{game}} {{map}}
                                        {{#ifCond pilot.home "===" 1}}
                                            (roncli's Home)
                                        {{/ifCond}}
                                        {{#ifCond opponent.home "===" 1}}
                                            ({{opponent.name}}'s Home)
                                        {{/ifCond}}
                                    </div>
                                    <div class="hidden-xs" style="padding-left: 5px; width: 1px; white-space: nowrap; vertical-align: top;">
                                        {{{toTimeAgo date}}}
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            {{/if}}
            <div style="margin-top: 10px;">
                <h3 class="text-center" style="clear: both;"><a href="/playlist/PLoqgd0t_KsN5pPPi0xKz7NfByO4mJvi27/gaming-descent">Descent Videos</a></h3>
                <h4 class="text-center" style="margin-bottom: 3px;">{{descentVideo.attributes.title}}</h4>
                <div class="text-center">
                    <iframe src="https://www.youtube.com/embed/{{{descentVideo.attributes.id}}}?feature=oembed&amp;enablejsapi=1&amp;wmode=opaque" frameborder="0" allowfullscreen="" style="width: 100%; height: 200px;"></iframe><br />
                    <button class="btn btn-primary add-to-media-player" data-source="youtube" data-url="https://www.youtube.com/watch?v={{{descentVideo.attributes.id}}}"><span class="glyphicon glyphicon-music"></span> Add To Playlist</button>
                </div>
            </div>
        </div>
    </div>
    <a name="steam"></a>
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h3>Steam Collection</h3></div>
    </div>
    {{#if steamMissing}}
        Steam data is currently unavailable from Valve.
    {{else}}
        <div class="row">
            {{#each steam.models}}
                <div class="col-sm-4">
                    <div class="btn-group-vertical">
                        <a class="btn btn-default" href="{{attributes.url}}">
                            <div class="panel-heading panel-title text-center"><h4>{{attributes.name}}</h4></div>
                        </a>
                        <div class="body" style="padding: 0;">
                            <a href="{{attributes.url}}">
                                <img src="{{attributes.image}}" style="width: 100%;" />
                            </a>
                        </div>
                    </div>
                </div>
                {{#every 3 @index @last}}
                    <div class="clearfix hidden-xs"></div>
                {{/every}}
            {{/each}}
        </div>
    {{/if}}
</div>
<div class="col-sm-2 hidden-xs right-side">
    <div class="panel panel-primary">
        <div class="panel-heading panel-heading-small text-center">Gaming</div>
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Gaming</li>
        </ol>
        <div class="panel-body">
            Welcome to the world of roncli Gaming.  Learn about all of the games I play, watch past videos of me playing, and find out what I'm up to in each game.<br /><br />
            Also, be sure to follow me on <a href="http://twitch.tv/roncli" target="_blank">Twitch</a> and watch live!
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading panel-heading-small text-center">RSS Feed</div>
        <div class="panel-body">
            <div class="rss-text text-center">Subscribe to get roncli's latest gaming videos and updates:</div>
            <div class="text-center">
                <a href="http://www.roncli.com/gaming.rss" title="Subscribe via RSS" target="_blank" class="rss-link"><div class="bookmark bookmark-rss"></div></a>
            </div>
        </div>
    </div>
    {{partial "site/share"}}
    {{#if page.attributes.children}}
        <div class="btn-group-vertical btn-group-xs panel panel-primary">
            <div class="panel-heading panel-heading-small text-center">{{#if page.attributes.page.shortTitle}}{{page.attributes.page.shortTitle}}{{else}}{{page.attributes.page.title}}{{/if}}</div>
            <div class="children-pages">
                <div class="scroller-wrapper" id="children-pages-wrapper">
                    <div class="scroller">
                        <div class="children btn-group-vertical btn-group-xs">
                            {{#each page.attributes.children}}
                                <a class="btn btn-default" href="{{{url}}}">{{shortTitle}}</a>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
</div>
